a {color: #3b6cce;}
body {background: #fff url(/images/bg.png) repeat-x 0 0 !important;}
#header {height:175px; position: relative;}
#header h1 {margin: 20px 0 0 10px; display: inline; float:left;}
#header h1 a {display: block; text-indent: -999em; background: url(/images/mainlogo_b-4.png) no-repeat 0 0; width:300px; height:80px;}
#header .event-description {font-size: 1.2em;display: inline; float:right; text-align: right; margin:15px 10px 0 0;}
#tagline {display: inline; float:left; margin:0 0 0 15px; width:278px; height:51px; text-indent: -999em;}
#main-cta {display: inline; float:right; margin-right:10px;}
#nav {background: 0; font-size: 14px; position: absolute; bottom: 10px;}
#nav li {display: inline;}
#nav li a,
#nav li.temp {display: inline; float:left; color: #3b6cce; padding: 5px 10px; margin-right: 20px; font-weight: bold; text-decoration: none;
    border-radius: 5px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
#nav li.temp {color:#999;}
#nav li a:hover {background: #3b6cce; color: #fff;
    text-shadow: 0 1px 1px #0b2b54;
    box-shadow: inset 0 1px 1px #0b2b54;
    cursor: pointer;
}
#nav li.sel a,
#nav li.sel a:hover {
    background: #fff; color: #333;
    box-shadow: inset 0 1px 1px #ccc;
    text-shadow: none;
    cursor: default;
}
.content {padding-left:20px; padding-right:10px;}
.content {padding-top:20px; clear:both;}
.content h2 {font-size:18px; margin-bottom:15px; padding-bottom: 10px; border-bottom: 2px solid #eee;}
.content p {font-size:13px !important; line-height: 1.6 !important;margin-bottom: 6px;}
.content p em.voice { display: inline-block;font-style: normal;font-weight: bold;letter-spacing: 0.1em;padding: 5px 0 5px 1em;} 
.content p em.evt { display: inline-block;font-style: normal;padding: 0 0.4em;} 
.content p em.cnf { display: inline-block;font-style: normal;font-weight: bold;padding: 0 0.4em;} 
.content p em.choice { font-style: normal;letter-spacing: 0.1em;padding-bottom: 2px;border-bottom: 1px solid #999;} 
.content p strong.target { display: inline-block;letter-spacing: 0.1em;padding: 5px 0.3em;} 



/* footer */
.footer {padding:8px 0; margin:20px 20px; border-top:1px solid #ccc; font-size: 13px;}
.footer .links {display:inline; float:left; text-align: left;}
.footer .links a {text-decoration: none;}
.footer img.footerlogo {display:inline; float:right; border:0;}

