 @import url('https://fonts.googleapis.com/css?family=Barlow:300,400,600|Noto+Sans+JP:300,400,700');

// ================
//  Base
// ================
html {
  font-family: $fontSansSerif;
  font-size: 100%;
  color: $black;
  line-height: $lineHeight;
}

body {
  margin:0;
  padding:0;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: color .3s;

  &:hover,
  &:active {
    text-decoration: none;
    transition: color 0s;
  }
}

img {
  vertical-align: middle
}

figure {
  margin: 1rem 0;
}

ul,
ol {
  padding-left: 1.25rem;
}

// ================
//  Layout
// ================
.container {
  max-width: $containerSize;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-full {
  padding: 0 1rem;
}

.section {
  & + & {
    margin-top: 5rem;
  }
}

#header {
  padding: .75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

#main {
}

#footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  padding: 1rem;
  background-color: $mainColor;
}

// ================
//  Module
// ================
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0;
  background-color: $white;
  background-image: url(/assets/img/category-icons.png),
                    url(/assets/img/scene-images.png),
                    url(/assets/img/bg-pattern.png);
  background-repeat: repeat,
                     no-repeat,
                     repeat;
  background-size: 102% auto,
                   102% auto,
                   3rem;
  background-position: center center,
                       center center,
                       left top;
  color: $mainColor;
  text-align: center;
}

.hero__image {
  margin-bottom: .5rem;
  width: auto;
  height: 15rem;
}

.hero__title {
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
  line-height: $lineHeightNeg;
}

.hero__info {
  display: flex;
  margin: .25rem 0;
  padding-left: 0;
  list-style: none;
  line-height: $lineHeightNeg;
}

.hero__cta {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.menu {
  margin: 0;
  padding-left: 0;
  display: flex;
  align-items: start;
  list-style: none;

  & > li {
    margin-left: 1.5rem;
    padding: .25rem 0;

    &:hover {
      border-bottom: .125rem solid $black;
    }

    &.is-current {
      font-weight: 600;
      border-bottom: .125rem solid $accentColor;
      color: $accentColor;
    }
  }
}

.menu__link {
  text-decoration: none;
}

.h1 {
  display: block;
  margin: 3rem 0;
  font-size: 4rem;
  font-weight: 300;
  color: $mainColor;
  line-height: $lineHeightNeg;
  text-align: center;
}

.h2 {
  display: block;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: $mainColor;
  line-height: $lineHeightNeg;
}

.h3 {
  display: block;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: $mainColor;
  line-height: $lineHeightNeg;
}

.h2--centered,
.h3--centered {
  text-align: center;
}

.headline {
  margin-top: 3rem;
  margin-bottom: 6rem;
  text-align: center;
}

.headline__title {
  margin: 0;
}

.headline__lead {
  margin-top: 1rem;
  margin-bottom: 0;
  color: $mainColor;
}

.table {
  margin: 2rem 0;
  border-spacing: 0;
  border: 1px solid #ccc;
  border-radius: .25rem;
  table-layout: auto;
  overflow: hidden;
  width: 100%;

  th,
  td {
    padding: 1rem;
    border: none;
    vertical-align: top;
  }

  th {
    width: 20%;
    background-color: $subColor;
    text-align: left;
  }

  ul:first-child {
    margin-top: 0;
  }
}

.table__th-large {
  th {
    width: 40%;
  }
}

.timetable-wrapper {
  overflow-x: scroll;
  margin: 2rem 0;
}

.timetable {
  border-spacing: 0 .25rem;
  table-layout: fixed;
  width: 100%;

  th,
  td {
    box-sizing: border-box;
    width: 18rem;
  }

  td {
    text-align: center;
  }

  tr {
    position: relative;
  }

  thead th:first-child,
  tbody th {
    position: sticky;
    left: 0;
    z-index: 1;
  }

  thead {
    th {
      padding: .5rem 1rem;
      background-color: $white;
    }
  }

  tbody {
    th,
    td {
      padding: 1rem;
    }

    th {
      background-color: $mainColor;
      color: $white;
      font-size: 2rem;
      font-weight: 300;
      text-align: left;
    }

    tr {
      background-color: $subColor;
    }

    td {
      vertical-align: top;
    }
  }
}

.timetable__title {
  margin: 0;
  min-height: 3rem;
  font-weight: bold;
}

.timetable__meta {
  margin: 0;
  font-size: .875rem;
}

.timetable__note {
  font-size: .875rem;
}

.timetable__note--pr {
  color: $accentColor;
}

.timetable__note__badge {
  margin-right: .25rem;
  padding: .125rem .25rem;
  border: 1px solid currentColor;
  border-radius: .125rem;
  color: inherit;
  font-style: normal;
  line-height: 1;
  font-size: 87.5%;
}

.flow-list {
  & > li + li{
    margin-top: 2rem;
  }
}

.flow-list__content {
  display: flex;
  align-items: start;
}

.flow-list__text {
  margin: 0;
  width: 30%;
}

.flow-list__media {
  margin-left: 2rem;
  width: calc(70% - 2rem);
  height: auto;
  box-sizing: border-box;

  & > img {
    max-width: 100%;
    height: auto;
  }
}

.announce {
  padding: 1rem;
  border: 1px solid $mainColor;
  color: $mainColor;
  background-color: $white;
  border-radius: .25rem;
}

.card {
  display: flex;
  align-items: start;
  margin: 2rem 0;
}

.card__media {
  margin-right: 2rem;
  width: 10rem;
  height: auto;
  box-sizing: border-box;
  flex-shrink: 0;

  & > img {
    max-width: 100%;
    height: auto;
  }
}

.card__media--small {
  margin-right: 1.5rem;
  width: 6rem;
}

.card__badge {
  display: block;
  margin-bottom: .25rem;
  font-weight: 600;
  font-style: normal;
  color: $accentColor;
}

.card__title {
  margin-top: 0;
  margin-bottom: .25rem;
}

.card__meta {
  margin-top: .25rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: $mainColor;
}

.card__meta__time {
  margin-right: .5rem;
}

.image-r {
  border-radius: .25rem;
}

.image-circle {
  border-radius: 50%;
}

.image-ogragram {
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: .5rem 1rem;
  border-radius: 10rem;
  background-color: $mainColor;
  color: $white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: background-color .3s;
  line-height: $lineHeightNeg;

  &:hover {
    background-color: hsl(233, 47%, 53%);
  }
}

.button--wired {
  background-color: transparent;
  color: $mainColor;
  border: 1px solid $mainColor;
  font-weight: 400;

  &:hover {
    background-color: transparent;
    color: $mainColor;
    border: 1px solid $mainColor;
  }
}

.button-block {
  margin: 2rem 0;
  text-align: center;
}

.figure {
  & > img {
    max-width: 100%;
    height: auto;
  }
}

.figcaption {
  margin-top: .25rem;
  font-size: .875rem;
  text-align: center;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}

.grid-list__meta {
  margin-top: 0;
  margin-bottom: .25rem;
  font-weight: 600;
}

.grid-list__meta__time {
  margin-right: .5rem;
}

.grid-list__title {
  margin-top: 0;
  margin-bottom: 0;
}

.grid-list__tag {
  margin-top: .5rem;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  & > li {
    display: inline-block;
    padding: .25rem .5rem;
    border-radius: .125rem;
    background-color: $subColor;
    color: #444;
    font-style: normal;
    line-height: 1;
    font-size: 87.5%;
  }
}

.thumb {
  & + & {
    margin-top: 5rem;
  }
}

.thumb-group {
  margin: 5rem 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); // TODO: 20rem の根拠がわからないのであとで考える
  grid-column-gap: 0;
  grid-row-gap: 0;

  & > .thumb {
    margin: 0;
    width: 100%;
  }
}

.thumb-list {
  display: grid;
  justify-content: center;
  margin: 1rem 0;
  padding-left: 0;
  list-style: none;

  & > li {
    box-sizing: border-box;

    & > a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      flex-shrink: 0;

      & > img {
        width: 100%;
        height: auto;
      }
    }
  }

  & + & {
    margin-top: 5rem;
  }
}

.thumb-list--xlarge {
  $thumb-xlarge: 10rem;
  $thumb-xlarge-gutter: 2rem;

  padding: 0 $thumb-xlarge-gutter;
  grid-template-columns: repeat(auto-fit, #{$thumb-xlarge});
  grid-column-gap: $thumb-xlarge-gutter;
  grid-row-gap: $thumb-xlarge-gutter;

  & > li {
    width: $thumb-xlarge;
    height: $thumb-xlarge;
  }
}

.thumb-list--large {
  $thumb-large: 6rem;
  $thumb-large-gutter: 2rem;

  padding: 0 $thumb-large-gutter;
  grid-template-columns: repeat(auto-fit, #{$thumb-large});
  grid-column-gap: $thumb-large-gutter;
  grid-row-gap: $thumb-large-gutter;

  & > li {
    width: $thumb-large;
    height: $thumb-large;
  }
}

.thumb-list--medium {
  $thumb-medium: 4rem;
  $thumb-medium-gutter: 2rem;

  padding: 0 $thumb-medium-gutter;
  grid-template-columns: repeat(auto-fit, #{$thumb-medium});
  grid-column-gap: $thumb-medium-gutter;
  grid-row-gap: $thumb-medium-gutter;

  & > li {
    width: $thumb-medium;
    height: $thumb-medium;
  }
}

.thumb-list--small {
  $thumb-small: 4rem;
  $thumb-small-gutter: 1rem;

  padding: 0 $thumb-small-gutter;
  grid-template-columns: repeat(auto-fit, #{$thumb-small});
  grid-column-gap: $thumb-small-gutter;
  grid-row-gap: $thumb-small-gutter;

  & > li {
    width: $thumb-small;
    height: $thumb-small;
  }
}

.faq {

  dt,
  dd {
    &:before {
      margin-right: .5rem;
      font-weight: 600;
      font-size: 1.5rem;
    }
  }

  dt {
    font-weight: 600;

    &:before {
      content: "Q.";
    }
  }

  dd {
    margin-left: 0;

    &:before {
      content: "A.";
      color: $accentColor;
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    margin: 0 .5rem;
    height: 20px;
    line-height: 20px;
  }
}

.copyright {
  margin: 0;
  color: $white
}

.copyright__symbol {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.copyright__image {
  height: 1.5rem;
  vertical-align: middle;
}
