
// ==========================================================================
// util
// ========================================================================== */


// clearfix
// ========================================================================== */
@mixin clearfix () {
  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table; }
  &:after { clear: both; }
}

// wordbreak
// ========================================================================== */
@mixin avoidselect {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}


// wordbreak
// ========================================================================== */
@mixin wordbreak () {
  white-space: normal;
  word-break: break-word;
  word-break: break-all;
  hyphens: auto;
}


// font-size
// ========================================================================== */

// remove unit (e.g. 10px -> 10 )
@function parseInt ( $x ) {

  @return $x / ( 1 + $x - $x );
  
}

@function getFs ( $relativeSize, $unit ) {

  $_fontsizeInPx: $_basefontsize + ( $relativeSize * 2 );
  
  @if ( $unit == 'px' ) {

    @return $_fontsizeInPx;
    
  }

  @if ( $unit == 'rem' ) {
    
    @return parseInt( $_fontsizeInPx ) / parseInt( $_basefontsize ) * 1rem;
    
  }

  @return $_fontsizeInPx;

}

$_basefontsize: $font-size-desktop;
@mixin max-screen ( $res ) {
  @media screen and ( max-width: $res ) {

    @if parseInt( $res ) <= parseInt( $breakpoint-base ) {

      $_basefontsize: $font-size-desktop;
      
    }

    @if parseInt( $res ) <= parseInt( $breakpoint-middle ) {

      $_basefontsize: $font-size-middlescreen;
      
    }

    @if parseInt( $res ) <= parseInt( $breakpoint-small ) {

      $_basefontsize: $font-size-smallscreen;
      
    }

    @content;
    $_basefontsize: $font-size-desktop;
  }
}


// filter for only less than IE8 (CSS Hack)
// ==========================================================================
@mixin ie8 () {
  // only for IE8
  @media \0screen {
    @content;
  }
}


// for css3 prefix
// ==========================================================================

@mixin opacity ( $opacity ) {

    @if $opacity == 1 {

      filter: unquote("progid:DXImageTransform.Microsoft.Alpha(enabled=false)");
      
    } @else {

      filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
      
    }
 
  opacity: $opacity;
  
}
