// ================
//  vars
// ================
$fontSansSerif: "Barlow", "Noto Sans JP", sans-serif;

$size: 1rem;
$containerSize: $size * 50;
$breakpoints: $containerSize;

$ratio: .618;
$ratioNeg: 1 - $ratio;
$lineHeight: 1 + $ratio;
$lineHeightNeg: 1 + $ratioNeg;

$mainColor: #0B1038;
$subColor: #F0F0F0;
$accentColor: #CF0000;
$black: #333333;
$white: #FFFFFF;
