<% include header %>

<style>
  h4 {
    margin-top: 30px;
  }
</style>

<div class="container">
  <h1 class="accessH1">会場・アクセス</h1>
  <p>会場（NTT中央研修センタ）と、そこへのアクセスのご案内です。
</div>

<div class="container">
  <section id="nttls">
    <h2>会場：NTT中央研修センタ</h2>
    <p>HTML5 Conference 2013は調布市にある<a href="http://www.lsyoyaku.jp/">NTT中央研修センタ</a>内の講堂と5号館にて開催します。
    <p><a href="http://www.lsyoyaku.jp/">NTT中央研修センタ</a>
    <p>〒182-0004<br>東京都調布市入間町1-44
    <p><iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.co.jp/maps?hl=ja&amp;t=m&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA1-44&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%94%EF%BC%94&amp;z=14&amp;brcurrent=3,0x6018f1a016b10c3f:0x2bf239996e62967f,0&amp;ll=35.652061,139.588219&amp;output=embed"></iframe>
    <p><a href="https://www.google.co.jp/maps?hl=ja&amp;t=m&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA1-44&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%94%EF%BC%94&amp;z=14&amp;brcurrent=3,0x6018f1a016b10c3f:0x2bf239996e62967f,0&amp;ll=35.652061,139.588219&amp;source=embed">Googleマップで見る</a>
  </section>
  <section id="access">
    <h2>会場へのアクセス</h2>
    <p>NTT中央研修センタへは、成城学園前駅よりバスで10分、仙川駅より徒歩で15分です。</p>
    <section id="how-to-come">
      <h3>会場にお越しになるには</h3>
      <p>
        当日は、私どもがチャーターしたマイクロバスをご利用いただくか、通常の公共交通機関（小田急バス）をご利用いただき、会場までお越しください。<br>
        当日のバス停は大変な混雑が予想されますので、なるべく早くのご来場を心がけてください。なお、受付がオープンする時刻は以下のとおりです。
      </p>
      <ul>
        <li>10:30・・・関係者（講演者、協賛企業）受付</li>
        <li>11:00・・・一般参加者受付</li>
      </ul>
      <section>
        <h4>成城学園前駅から、マイクロバスをご利用の場合</h4>
        <p>10:45から13:30まで、私共がチャーターしたマイクロバスが巡回して、皆様が会場にお越しになるためのお手伝いを致します。</p>
        <p>
          マイクロバスの発着場は以下を予定しています（当日の状況により変更する可能性があります。誘導の指示に従ってください）。
        </p>
        <p>
          <a href="img/bus-stop.png" target="_blank"><img src="img/bus-stop.png" width="400" alt="成城学園前駅からのマイクロバス臨時バス停"></a>
        </p>
        <p>
          成城学園前駅中央改札口を出て左に曲がり、駅の敷地から出てすぐに左折。数10メートル直進して、左に「小田急ハウジング」という店舗があるあたりになります。
        </p>
        <p>
          <a href="https://maps.google.co.jp/maps?ll=35.640283%2C139.59815600000002&cbp=%2C161.98%2C%2C1%2C-4.489998&layer=c&panoid=4UMzU_6YNrRxDuQTqybIrw&spn=0.18000000000000788%2C0.30000000000000676&output=classic&cbll=35.640283%2C139.598156" target="_blank">Google マップ（ストリートビュー）で見る</a>
        </p>
        <p>マイクロバスは複数台が巡回しております。見逃してもすぐに次が参ります（10分以内）ので、満員になったら次のバスをお待ちください。</p>
      </section>
      <section>
        <h4>成城学園前駅から、小田急バスをご利用の場合</h4>
        <p>以下のバスをご利用ください。</p>
        <p>
          小田急線成城学園前駅西口よりバスにて約10分<br>
          バス停2番「神代団地行」中央電通学園前下車　徒歩0分
        </p>
        <p>
          <a href="http://www.odakyubus.co.jp/dia/search/viewdia.cgi?busstopcdto=434&dia=1&busstopcd=998&routeno=%2C342-0%2C&chk_sel=" target="_blank">バスの時刻表を見る</a>
        </p>
      </section>
      <section>
        <h4>仙川駅から徒歩（15分ほどかかります）</h4>
        <p>以下の地図を参考にしてください（クリックで拡大）。</p>
        <a href="img/sengawa-map.png" target="_blank" id="sengawa-map"><img src="img/sengawa-map.png" width="400" alt="仙川駅からの地図"></a>
        <p>なお、中央研修センタ付近は住宅地です。仙川より徒歩で来場される際は、騒音や歩道の占有などにご配慮ください。</p>
      </section>
    </section>
    <section id="how-to-leave">
      <h3>会場からお帰りになるには</h3>
      <section>
        <h4>17:00よりも以前に帰る（成城学園前駅行き）</h4>
        <p>
          会場正門前にある「中央電通学園前」というバス停から、小田急バスを利用して成城学園前にお帰りください。
        </p>
        <p>
          <a href="http://www.navitime.co.jp/diagram/00048933_00014612_t4" target="_blank">バス時刻表を見る</a>
        </p>
        <p>
          <a href="https://maps.google.co.jp/maps?ll=35.650601,139.588852&spn=0.705813,1.493454&cbp=12,43.11,,0,4.49&layer=c&panoid=J5sZZl-v5l2whFlKtK2K3A&cbll=35.650633,139.588508&t=m&z=11&brcurrent=3,0x605d1b87f02e57e7:0x2e01618b22571b89,1" target="_blank">バス停はこちらになります（Google Mapsストリートビュー）</a>
        </p>
      </section>
      <section>
        <h4>17:00以降に帰る（成城学園前駅行き）</h4>
        <p>4コマ目のセッション終了後（17:00）から22:00ごろまで、正門付近から、成城学園前駅行きのマイクロバスが随時（10分毎）に発車いたします。</p>
        <p>お帰りになる場合はこちらのマイクロバスをご利用ください（ご利用は無料です）。</p>
      </section>
      <section>
        <h4>仙川駅から帰る</h4>
        <p><a href="#sengawa-map">上記の地図</a>を参考にしながら、お帰りください。</p>
        <p>なお、中央研修センタ付近は住宅地です。仙川に徒歩で移動する際には、騒音や歩道の占有などにご配慮ください。</p>
    </section>
</div>

<% include footer %>
