<% include header %>

<div class="container">
  <h1 class="accessH1">会場・アクセス</h1>
  <p>会場（NTT中央研修センタ）と、そこへのアクセスのご案内です。</p>
</div>

<div class="container">
  <section id="nttls">
    <h2>会場：NTT中央研修センタ</h2>
    <p>カンファレンスは調布市の<a href="http://www.lsyoyaku.jp/">NTT中央研修センタ</a>内、講堂と5号館にて開催します。</p>
    <p><a href="http://www.lsyoyaku.jp/">NTT中央研修センタ</a></p>
    <p>〒182-0004<br>東京都調布市入間町1-44<!-- <br><a href="http://goo.gl/maps/Kd5Gs">Googleマップで見る</a> --></p>
    <iframe class="map " frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.co.jp/maps?hl=ja&amp;t=m&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA1-44&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%94%EF%BC%94&amp;z=14&amp;brcurrent=3,0x6018f1a016b10c3f:0x2bf239996e62967f,0&amp;ll=35.652061,139.588219&amp;output=embed"></iframe>
    <p><a href="https://www.google.co.jp/maps?hl=ja&amp;t=m&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA1-44&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%94%EF%BC%94&amp;z=14&amp;brcurrent=3,0x6018f1a016b10c3f:0x2bf239996e62967f,0&amp;ll=35.652061,139.588219&amp;source=embed">Googleマップで見る</a>
  </section>
  <section id="access">
    <h2>会場へのアクセス</h2>
    <p>NTT中央研修センタへは、成城学園前駅よりバスで10分、仙川駅より徒歩で15分です。</p>
    <section id="seijou">
      <h3>成城学園前駅から</h3>
      <p>西口のバスのりば2番「神代団地行」「中央電通学園前行」のバスに乗車し、「中央電通学園前」で下車します。</p>
    </section>
    <section id="sengawa">
      <h3>仙川駅から</h3> 
      <p>15分ほど、がんばって歩きます。</p>
    </section>
  </section>
  <section id="attention">
    <h2>会場に関する諸注意</h2>
    <h3>飲食</h3>
    <p>講堂内および5号館の講義室内での飲食は禁止となっています。廊下での飲食は可能ですが、ゴミは持ち帰るなど、ご協力をお願いいたします。</p>
    <p>なお、会場近辺には飲食店やコンビニ等がありません。昼食については、ご自宅から駅周辺の間で済ませていただければと思います。</p>
    <h3>ネットワーク</h3>
    <p>無線LANによるネットワークアクセスを提供予定ですが、スムーズな通信の保証はいたしかねます。</p>
  </section>
</div>

<% include footer %>