<% include header %>

<div class="container">
  <h1 class="accessH1">会場・アクセス</h1>
  <p>会場（NTT中央研修センタ）と、そこへのアクセスのご案内です。
</div>

<div class="container">
  <section id="nttls">
    <h2>会場：NTT中央研修センタ</h2>
    <p>HTML5 Conference 2013は調布市にある<a href="http://www.lsyoyaku.jp/">NTT中央研修センタ</a>内の講堂と5号館にて開催します。
    <p><a href="http://www.lsyoyaku.jp/">NTT中央研修センタ</a>
    <p>〒182-0004<br>東京都調布市入間町1-44
    <p><iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.co.jp/maps?hl=ja&amp;t=m&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA1-44&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%94%EF%BC%94&amp;z=14&amp;brcurrent=3,0x6018f1a016b10c3f:0x2bf239996e62967f,0&amp;ll=35.652061,139.588219&amp;output=embed"></iframe>
    <p><a href="https://www.google.co.jp/maps?hl=ja&amp;t=m&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA1-44&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%94%EF%BC%94&amp;z=14&amp;brcurrent=3,0x6018f1a016b10c3f:0x2bf239996e62967f,0&amp;ll=35.652061,139.588219&amp;source=embed">Googleマップで見る</a>
  </section>
  <section id="access">
    <h2>会場へのアクセス</h2>
    <p>NTT中央研修センタへは、成城学園前駅よりバスで10分、仙川駅より徒歩で15分です。
    <section id="seijou">
      <h3>成城学園前駅から</h3>
      <p>当日は普通の公共交通機関（小田急バス）もしくはチャーターしたマイクロバスをご利用いただき会場までお越しください。<br>大変な混雑が予想されますので、早くのご来場をお願いいたします。
      <h5>小田急バスで向かう</h5>
      <p>西口のバスのりば2番「神代団地行」「中央電通学園前行」のバスに乗車し、「中央電通学園前」で下車します。
      <p><a href="http://www.odakyubus.co.jp/dia/search/viewdia.cgi?busstopcdto=434&amp;dia=1&amp;busstopcd=998&amp;routeno=%2C342-0%2C">バス時刻表を見る</a>
      <h5>マイクロバスで向かう</h5>
      <p>10:45より、マイクロバスがカンファレンス会場と成城学園前を巡回します。<br>バスは複数台が運行します。満員近くなった場合は次のバスをお待ちください。
    </section>
    <section id="sengawa">
      <h3>仙川駅から</h3> 
      <p>15分ほど、がんばって歩きます。
    </section>
  </section>
  <section id="attention">
    <h2>諸注意</h2>
    <h3>周辺環境</h3>
    <p>中央研修センタ付近は住宅地です。仙川より徒歩で来場される際は、騒音や歩道の占有などにご配慮ください。
    <h3>飲食</h3>
    <p>講堂内および5号館の講義室内での飲食はできません。廊下での飲食は可能ですが、ゴミはお持ち帰りいただければと思います。
    <p>なお、会場近辺には飲食店やコンビニ等がありません。昼食については、ご自宅から駅周辺の間で済ませていただければと思います。
  </section>
</div>

<% include footer %>