<% include header %>

<div class="container">
  <h1 class="boothH1">展示ブース</h1>
  <p>沢山の企業がブース展示に参加しています。ぜひ立ち寄ってください！</p>
</div>

<div class="container">


  <section class="booth">
    <h2>1F</h2>
    
    <p class="image"><img src="img/booth1f.png" alt="展示1階"></p>
    <h3>出展企業</h3>
    <ul>
    <li>アシアル株式会社</li><li>キヤノンITソリューションズ株式会社</li><li>日本マイクロソフト株式会社</li><li>NTTコミュニケーションズ株式会社</li><li>株式会社NTTドコモ</li><li>インテル株式会社</li></ul>
   
    <div class="descriptionBt">
      <dl class="boothDl">
     	 <dt>アシアル株式会社</dt><dd class="boothtitle">モバイルアプリ開発プラットフォームMonaca</dd>
     	 <dd class="boothDisc">クラウド型モバイルアプリ開発プラットフォームMonacaとHTML5ベースのUIフレームワークOnsen UIのデモを行います。MonacaとOnsen UIを活用することでアプリ開発者はHTML5を用いて、より洗練されたUIのモバイルアプリケーション開発を行うことが可能です。</dd>
     
		<dt>キヤノンITソリューションズ株式会社</dt><dd class="boothtitle">HTML5準拠Webアプリケーション開発フレームワーク　Senchaのご紹介</dd>
    	<dd class="boothDisc">HTML5準拠Webアプリケーション開発フレームワークSenchaの紹介を行います。
デモプログラムを実際に触っていただきSenchaの特徴を体感ください。</dd>
		<dt>日本マイクロソフト株式会社</dt><dd class="boothtitle">Windows 8.1 & IE11</dd>
        <dd class="boothDisc">この10月にリリースされたばかりのWindows 8.1とInternet Explorer11をご覧ください。Windows 8.1のネイティブアプリはHTML5とCSS3、JavaScriptで開発することができます。IE11ではWebGLをはじめ、MPEG-DASH、Encrypted Media Extension (EME)をサポート。タッチ操作にも最適化されており、マイクロソフトでは、Pointer Eventsというタッチ、マウス、ペンを「Pointer」という概念で取り扱うAPIをW3Cに提案しています。</dd>
		<dt>NTTコミュニケーションズ株式会社</dt><dd class="boothtitle">大規模負荷試験対応Webテスト
フレームワーク</dd>
		<dd class="boothDisc">セレニウムを活用した、Webブラウザによる負荷試験を可能とするWebテストフレームワークを展示いたします。</dd>
		<dt>株式会社NTTドコモ</dt><dd class="boothtitle">docomo Developer supportを中核としたドコモのイノベーション創出に向けた取組み</dd>
		<dd class="boothDisc">ドコモはスマートライフのパートナーを目指し、サービス機能のAPI提供を推進し、外部パートナーとのサービス連携強化を目指しています。今回、１１月１１日から提供が開始された開発者向け支援サイト「docomo Developer support」とその上で提供するAPIをご紹介するとともに、
併せてドコモR&DとしてのHTML5への取組みをご紹介します。</dd>
		<dt>インテル株式会社</dt><dd class="boothtitle">HTML5開発ツール・Tizen</dd>
        	<dd class="boothDisc">インテルの無償のHTML5開発ツールXDKを展示いたします。 また、インテルがオープンイノベーションとして推進している"第3のOS"といわれるTizenのSDKを展示いたします。 Tizenの特徴として、HTML5への非常に高い対応度があります。 HTML5のアプリケーションを普及・拡大していくうえで、重要な要素となると思われます。</dd></dl>

    </div>
  </section>
  
  
  
  <section class="booth">
    <h2>5F</h2>
    <p class="image"><img src="img/booth5f.png" alt="展示5階"></p>
    <h3>出展企業</h3>
    <ul>
     <li>CodeIQ</li><li>LPI-Japan</li><li>グレープシティ株式会社</li><li>株式会社サイバーエージェント</li>
     </ul>
    <div class="descriptionBt">
      <dl class="boothDl"><dt>CodeIQ</dt><dd class="boothtitle">簡単なクイズで「html5j×CodeIQ」の限定コラボドーナツをゲットしよう！</dd>
        <dd class="boothDisc">
          <p>
            HTML5にまつわる簡単なクイズ（マークアップ編、CSS編、JS編）に挑戦すると、当日会場のおやつコーナーで、オリジナルコラボドーナツをプレゼントいたします。
            <br>※かわいい動物ドーナツ型のドーナツに、さらにオリジナルデザインを施した超絶かわいい萌えドーナツです。
          </p>
          <p>
            当日はセッションで忙しいと思うので、事前に解答してこられることをオススメいたします。
            問題URL（<a href="https://codeiq.jp/ace/yoshikawa_toru/">https://codeiq.jp/ace/yoshikawa_toru/</a>）
          </p>
        </dd>
		<dt>LPI-Japan</dt><dd class="boothtitle">HTML5プロフェッショナル認定資格のご紹介</dd>
        <dd class="boothDisc">ついに2014年1月に「HTML5プロフェッショナル認定試験制度」がリリースします！この試験は、次世代のWebプロフェッショナルのスキルの向上に貢献することを目的として、「html5j」、LPI-Japanの理事企業などの協力を得て、オープンコミュニティの枠組みにて開発された、HTML5に関する知見と技術力を公平かつ厳正に中立的な立場で認定するIT資格です。多くの企業が推進する次世代Web言語の認定資格として、Webデザイナー、 HTMLコーダー、フロントエンドプログラマー、サーバーサイドエンジニアなどの、Web開発プロジェクトやWebサービスに関わるあらゆるプロフェッショナルのスキルの向上に役立ちます。また、企業内や研修機関での『技術力を担保する客観的基準』として活用できます。本イベントでは、本試験の概要をあますところなくご紹介します！</dd>
		<dt>グレープシティ株式会社</dt><dd class="boothtitle">Wijmo（ウィジモ）</dd>
        <dd class="boothDisc">HTML5対応のWebアプリケーションにリッチなUIを提供するJavaScriptライブラリです。jQueryをベースにデータグリッドやグラフ・チャートなど多彩な部品を数多く収録。タブレットやモバイルにも対応しています。</dd>
		<dt>株式会社サイバーエージェント</dt><dd class="boothtitle">pigg remote</dd>
        <dd class="boothDisc">大型ディスプレイに映ったピグを、来場者のスマートフォンからリアルタイムに操作するインスタレーションです。操作できる内容は、ピグの移動・つぶやき・数種類のモーションを予定しています。クライアントサイドをCSS3(Animation)とJavaScript(WebSocket)、サーバーサイドをNodeJSで実装しています。</dd></dl>
    </div>
  </section>




  <section class="booth">
    <h2>6F</h2>
    <p class="image"><img src="img/booth6f.png" alt="展示6階"></p>
    <h3>出展企業</h3>
    <ul><li>株式会社野村総合研究所</li><li>株式会社テレビ朝日メディアプレックス</li><li>株式会社ACCESS</li><li>IPTVフォーラム</li><li>KDDI株式会社</li><li>株式会社ニューフォリア</li></ul>
    <div class="descriptionBt">
   
      <dl class="boothDl">
      <dt>株式会社野村総合研究所</dt><dd class="boothtitle">HTML5とウェアラブルデバイス、センシング技術の融合</dd>
      <dd class="boothDisc">これまで弊社内で実施されてきたフロント技術の活用研究で作成されたデモアプリケーションをご紹介します。本展示では、特にHTML5とウェアラブルデバイスや各種センサデバイスを融合させたら何が出来るか、具体的なデモとして提示したいと考えています。展示では、MOVERIOやスマートウォッチなどのウェアラブルデバイス、Leap Motionなどのジェスチャーインプットデバイス、Arduino等を活用したセンサデバイスを利用したデモを検討しています。</dd>
		<dt>株式会社テレビ朝日メディアプレックス</dt><dd class="boothtitle">新型HMDで未来を体験</dd>
        <dd class="boothDisc">Oculus社のヘッドマウントディスプレイ(以降HMD)を使用した体験できるデモを展示致します。Oculus製の特徴である映像＋傾きセンサーにより、頭の動きに合わせた没入感のあるユーザー体験を実現しています。
弊社ではこのHMDを使用した3D空間ソフトを開発。このHMDとソフトを持参致しましてご来訪者の皆様に実際に体験して頂けるブースにさせて頂く予定です。</dd>
		<dt>株式会社ACCESS</dt><dd class="boothtitle">組み込み+HTML5</dd>
        <dd class="boothDisc">組み込み機器でどうやってHTML5を活用できるか、その実例を展示します。</dd>
		<dt>IPTVフォーラム</dt><dd class="boothtitle">ハイブリッドキャスト</dd>
        <dd class="boothDisc">ハイブリッドキャストは、HTML5技術により実現する放送と通信を連携する新しいサービスです。この技術仕様は一般社団法人IPTVフォーラムで今年3月に公開されました。この技術仕様に基づいて、NHKでは9月2日から「NHKハイブリッドキャスト」を開始しました。今回の展示では、実機によりNHKハイブリッドキャストのサービスを体験していただくと共に、技術的な概要も紹介いたします。</dd>
		<dt>KDDI株式会社</dt><dd class="boothtitle">おもしろガジェット</dd>
        <dd class="boothDisc">HTML5とTwilio APIを使って、ブラウザから電話をかけるスマートフォンアプリのデモ環境をお見せします。スマートフォンアプリに電話をかける機能を実装することで、様々な利用シーンを想定することが可能となります。Twilioの簡単な使い方や、実装方法を展示ブースでご説明させていただきます。一緒に、この世に無いWebサービスを創出しましょう！！</dd>
		<dt>株式会社ニューフォリア</dt><dd class="boothtitle">アプリカンのご説明</dd>
        <dd class="boothDisc">ウェブの知識のみでiOS、Androidのストア公開アプリ開発を行うことができる、クラウド型アプリ開発支援プラットフォーム「アプリカン」をご紹介いたします。デモ環境とステッカーの配布等を予定しております。</dd></dl>
    </div>
  </section>


 
</div>


<% include footer %>
