<% include header %>

<div class="container">
  <h1 class="faqH1">よくある質問・注意事項</h1>
  <p>カンファレンスに関するよくある質問への答え、注意事項などをまとめています。</p>
</div>

<div class="container">

  <section id="registration">
    <h2>登録・受付について</h2>

    <section>
      <h3>当日受付には何が必要ですか</h3>
      <p>参加登録をすると、QRコード付きのメールが送られてきます。当日はそのメールを印刷、もしくはスマートフォン・タブレットなどで表示した状態にして受付にお越しください。受付にて確認いたします。</p>
    </section>

    <section>
      <h3>申し込みなしでの当日参加は可能ですか</h3>
      <p>お断りさせていただいております。</p>
    </section>

    <section>
      <h3>行けなくなってしまいました</h3>
      <!-- <p><a href="http://html5conf2013.peatix.com/">Peatixのイベントページ</a>より。</p> -->
      <p>もし、お知り合いにカンファレンスに参加したいという方がいらっしゃれば、その方にお譲りすることもできます。Peatixのページより、「★★★」を選択して、お譲りする方のメールアドレスを入力・送信してください。</p>
    </section>

<!--     <section>
      <h3>参加証が届いていません</h3>
    </section> -->

<!--     <section>
      <h3>送られてきたメール（参加証）を消してしまいました</h3>
    </section> -->

    <section>
      <h3>本人が当日参加できなくなったのですが、代理が参加してもいいですか</h3>
      <p>チケットを譲渡していただければ可能です。Peatixのページより、「★★★」を選択して、お譲りする方のメールアドレスを入力・送信してください。</p>
    </section>

<!--     <section>
      <h3>一度キャンセルしたのですが、再度いけるようになりました<br>キャンセルの取り消しはできますか＞？</h3>
      <p>キャンセルの取り消しはできませんので、改めてご登録ください。</p>
    </section> -->

  </section>

  <section id="venue">
    <h2>会場について</h2>

    <section>
      <h3>飲食はできますか</h3>
      <p>講堂内および5号館の講義室内での飲食は禁止となっています。廊下での飲食は可能ですが、ゴミは持ち帰るなどのご協力をお願いいたします。</p>
    </section>

    <section>
      <h3>昼食をとれるところは近くにありますか</h3>
      <p>会場近辺には飲食店やコンビニがありません。昼食を済ませてからご来場いただければと思います。</p>
    </section>

    <section>
      <h3>飲み物を買える場所はありますか</h3>
      <p>各階に自販機が設置してあります。</p>
    </section>

<!--     <section>
      <h3>電源はありますか</h3>
      <p></p>
    </section> -->

    <section>
      <h3>ネットワーク環境はありますか</h3>
      <p>無線LANによるネットワークアクセスを提供予定ですが、スムーズな通信の保証はいたしかねます。</p>
    </section>

    <section>
      <h3>会場での喫煙はできますか</h3>
      <p>建物内は禁煙ですが、会場外に喫煙所があります。</p>
    </section>

  </section>

  <section id="misc">
    <h2>その他</h2>

    <section>
      <h3>写真やビデオの撮影</h3>
      <p>当日はメディアやスタッフによりビデオおよびカメラの撮影・配信が入ります。この際、参加いただいた方の顔が映る可能性があります。ご了承ください。</p>
    </section>

  </section>
</div>


<% include footer %>