<footer>
  <p class="text-center"><a href="http://html5j.org/"><img src="img/html5jlogoW.png" alt="html5j"></a></p>
  <p class="text-center">© 2013 html5j.org.</p>
</footer>


<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!--
  <div id="fb-root"></div>
  <script>(function(d, s) {
    var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.src = url; js.id = id;
      fjs.parentNode.insertBefore(js, fjs);
    };
    load('//connect.facebook.net/en_US/all.js#xfbml=1', 'fbjssdk');
    load('https://apis.google.com/js/plusone.js', 'gplus1js');
    load('//platform.twitter.com/widgets.js', 'tweetjs');
    load('//b.st-hatena.com/js/bookmark_button.js', 'hatena');
  }(document, 'script'));</script>
-->
<!--
  <script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4956033-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
-->
</body>
</html>