
<!-- BEGIN: Social Buttons -->
<div class="container">
<div class="social">
  <ul>
    <!-- Google+ -->
    <li class="google">
      <div class="g-plusone" data-href="http://events.html5j.org/conference/2013/11/" data-width="120"></div>
    </li>
    <!-- Facebook -->
    <li class="facebook">
      <div class="fb-like" data-href="http://events.html5j.org/conference/2013/11/" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"></div>
    </li>
    <!-- Twitter -->
    <li class="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://events.html5j.org/conference/2013/11/" data-text="HTML5 Conference 2013" data-via="html5j" data-lang="ja" data-hashtags="html5j">ツイート</a>
    </li>
    <!-- はてな -->
    <li class="hatena">
      <a href="http://b.hatena.ne.jp/entry/http://events.html5j.org/conference/2013/11/" class="hatena-bookmark-button" data-hatena-bookmark-title="HTML5 Conference 2013" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
    </li>
  </ul>
</div>
</div>
<!-- END: Social Buttons -->

<footer>
  <p class="text-center"><a href="http://html5j.org/"><img src="/conference/2013/11/img/html5jlogoW.png" alt="html5j"></a></p>
</footer>

<script src="/conference/2013/11/bower_components/jquery/jquery.js"></script>
<script src="/conference/2013/11/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/conference/2013/11/js/ga_event.js"></script>

<% if(id === "sessions") { %>
<script src="/conference/2013/11/js/script4session.js"></script>
<% } %>

  <div id="fb-root"></div>
  <script>(function(d, s) {
    var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.src = url; js.id = id;
      fjs.parentNode.insertBefore(js, fjs);
    };
    load('//connect.facebook.net/en_US/all.js#xfbml=1', 'fbjssdk');
    load('https://apis.google.com/js/plusone.js', 'gplus1js');
    load('//platform.twitter.com/widgets.js', 'tweetjs');
    load('//b.st-hatena.com/js/bookmark_button.js', 'hatena');
  }(document, 'script'));</script>
  <script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4956033-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>
</html>