<% include header %>

<div class="container">
  <h1 class="topH1">当日の流れ</h1>
  <p>カンファレンスの歩き方です。
</div>

<div class="container">
  <section>
    <h2>会場に向かう</h2>
    <p>会場のNTT中央研修センタへは、成城学園前よりバスもしくは仙川より徒歩。詳しくは<a href="access#access">会場へのアクセス</a>をご覧ください。
    <p>なお、開始直前は混雑が予想されますので、なるべく早くお越しください。
    <p>
  </section>
  <section>
    <h2>受付</h2>
    <p>カンファレンス受付は11:00より講堂にてオープンします。会場内の誘導に従い、受付まで移動してください。
    <h3>チケットを見せる</h3>
    <p>受付では、Peatixで取得したチケットを確認いたします。スマートフォン・タブレットの画面に表示したもの、もしくは印刷したものをお見せください。<br>チケットにはQRコードが印字されています。
    <figure>
      <img src="img/guide_peatix.png" alt="" width="400">
      <figcaption>Peatixのチケット</figcaption>
    </figure>
    <p>QRコードを表示するには、アプリのインストールや案内メールの送信が必要です。<a href="http://help.peatix.com/customer/portal/articles/1074222#section2" target="_blank">Peatixのヘルプ</a>にしたがって表示してください。
    <h3>バッグとチラシ</h3>
    <p>受付では、タイムスケジュールなどが書かれたちらしや、スポンサーから提供されたパンフレットやグッズが入ったバッグをお渡しします。
    <p>ちらしには無線LANのアクセスポイントや注意事項も書かれてますので、ぜひお読みください。
  </section>
  <section>
    <h2>ネットワーク</h2>
    <h3>無線LAN環境の事前設定（iOS/Mac）</h3>
    <p><a href="https://hirotaka.org/html5conf.mobileconfig">無線LANのコンフィグファイル</a>をダウンロードして実行しておくことで、無線LAN設定を事前にインストールしておくことができます。
    <h3>無線LAN環境の手動設定</h3>
    <p>当日は、以下のSSID/パスワードで無線LAN設定を行ってください。
    <dl class="dl-horizontal">
      <dt>SSID</dt>
      <dd>html5conf</dd>
      <dt>パスワード</dt>
      <dd>html5jgoemon</dd>
    </dl>
  </section>
  <section>
    <h2>会場内での飲食</h2>
    <h3>昼食</h3>
    <p>会場近辺には飲食店やコンビニ等がありません。昼食については、ご自宅から駅周辺の間で済ませていただければと思います。
    <h3>おやつ</h3>
    <p>お昼から夕方までの長時間、おなかが空いてしまいます。今回、セッション後のより、おやつタイムとして長めの休憩時間とっています。
    <p>1F, 5F, 6Fに設置された展示会場に「おやつブース」を設けました。展示をご覧いただきながら、美味しいおやつをお召し上がりください。
    <p>なお、おやつブースにて「<a href="https://codeiq.jp/ace/yoshikawa_toru/" target="_blank">CodeIQの問題</a>解いたよ」とおっしゃっていただくか、その場で問題に挑戦して頂ければ、HTML5 Conference 2013限定ドーナツを差し上げます。
    <figure>
      <img src="img/guide_donuts.jpg" alt="" width="400">
      <figcaption>HTML5 Conference 2013特製ドーナツ<br>（おやつスポンサー：CodeIQさま提供）</figcaption>
    </figure>
    <p>※セッション教室内では飲食禁止となっています。お食事は廊下もしくは展示会場でお願いいたします。<br>※ゴミは各自お持ち帰りください。
  </section>
  <section>
    <h2>セッション</h2>
    <h3>講堂でのセッション</h3>
    <p>オープニングセッション（基調講演）は定員1,000名の講堂で開催します。通常セッションの会場（5号館）と別の会場ですのでご注意ください（スタッフが誘導いたします）。<br>講堂に人が入りきらなかった場合は、1F教室にてサテライト中継を行います。こちらもスタッフが誘導いたします。
    <p>18:20から19:30まで行われるスペシャルセッションも講堂で開催します。なお、こちらのサテライト中継はありません。
    <h3>会場内の移動</h3>
    <p>今回、休憩時間には非常に多くの方が構内を移動されることが予想されます。混乱を避けるためにも、会場内スタッフの誘導に従ってください。
    <p>フロアをまたぐ移動は、基本的に階段をご利用ください。エレベーターは台数が限られているため、低層階（1,2F）と高層階（5,6F）の間を移動する際のみのご利用につとめてください。
    <h3>関係者席</h3>
    <p>セッション会場の最前列には関係者席が用意されていますが、セッション開始時刻になっても着席がない場合は一般参加者も着席できます。
    <h3>ネットワーク</h3>
    <p>会場内では無線LAN環境を完備しております（無線LAN環境へのアクセス情報は、当日配布のチラシをご覧ください）。<br>会場内でのネットアクセスにはそちらを利用し、手持ちのWi-Fiルータについてはご利用をお控えください。安定したネットワーク提供へのご協力をお願いいたします。
  </section>
  <section>
    <h2>お帰り</h2>
    <h3>17:00以前に帰る（成城学園前駅行き）</h3>
    <p>会場正門前にある「中央電通学園前」というバス停から、小田急バスを利用して成城学園前にお帰りください。
    <p><a href="http://www.navitime.co.jp/diagram/00048933_00014612_t4">バス時刻表</a>
    <p>バス停は正門を出てすぐ左にあります。
    <p><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.jp/maps?f=q&amp;source=embed&amp;hl=ja&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%93%EF%BC%92%E2%88%92%EF%BC%91%EF%BC%91&amp;aq=&amp;sll=35.673343,139.710388&amp;sspn=0.667126,0.827408&amp;brcurrent=3,0x6018f174afc825d3:0x37b86fb7c042f28,0&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%93%EF%BC%92%E2%88%92%EF%BC%91%EF%BC%91&amp;ll=35.650584,139.589641&amp;spn=0.004716,0.012928&amp;t=m&amp;z=14&amp;layer=c&amp;cbll=35.650633,139.588508&amp;panoid=J5sZZl-v5l2whFlKtK2K3A&amp;cbp=12,46.21,,0,-2.61&amp;output=svembed"></iframe><br /><small><a href="https://maps.google.co.jp/maps?f=q&amp;source=embed&amp;hl=ja&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%93%EF%BC%92%E2%88%92%EF%BC%91%EF%BC%91&amp;aq=&amp;sll=35.673343,139.710388&amp;sspn=0.667126,0.827408&amp;brcurrent=3,0x6018f174afc825d3:0x37b86fb7c042f28,0&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%AA%BF%E5%B8%83%E5%B8%82%E5%85%A5%E9%96%93%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%93%EF%BC%92%E2%88%92%EF%BC%91%EF%BC%91&amp;ll=35.650584,139.589641&amp;spn=0.004716,0.012928&amp;t=m&amp;z=14&amp;layer=c&amp;cbll=35.650633,139.588508&amp;panoid=J5sZZl-v5l2whFlKtK2K3A&amp;cbp=12,46.21,,0,-2.61" style="color:#0000FF;text-align:left">大きな地図で見る</a></small>
    <h3>17:00以降に帰る（成城学園前駅行き）</h3>
    <p>4コマ目のセッション終了後（17:00）から22:00ごろまで、正門付近から、成城学園前駅行きのマイクロバスが随時（10分毎）に発車いたします。<br>お帰りになる場合はこちらのマイクロバスをご利用ください（ご利用は無料です）。
    <h3>仙川駅から帰る</h3>
    <p><a href="access#access">会場・アクセス</a>に記載されているルートを利用してお帰りください。<br>途中、閑静な住宅街を通り抜けることになりますので、近隣住民へのご迷惑にならないよう、配慮してのお帰りをお願いします。
  </section>
</div>

<% include footer %>
