<% include header %>

<div class="container">
  <h1 class="offerH1">各種募集</h1>
  <p>カンファレンスを一緒に盛り上げて頂ける企業/個人を募集しています。日本最大の HTML5 カンファレンスを一緒に成功させましょう！！</p>
</div>

<div class="container">
  <section id="sponsor">
    <h2>スポンサー企業募集のお知らせ</h2>
    <p>HTML5 Conference 2013では協賛企業を募集しております。
    <p>ご協賛頂いた方には、<a href="./">本イベント告知サイト</a>でのロゴ掲載を通じて、参加者に御社がHTML5の取り組みを行なっていると強くアピールできます。 ほか、イベントスポンサーとしてカンファレンスにご参加頂けるほか、関係者限定の懇親会にも無料でご参加いただき、様々な企業、個人と交流を深められます。
    <p>関心をお持ちの方は、以下の応募フォームよりお気軽にお申込みください。折り返し、担当者からご連絡させていただきます<br>締め切りは<strong>11月8日</strong>とさせていただきます。

    <p class="text-center"><a class="btn btn-default contact" data-contact-type="ask" href="https://docs.google.com/spreadsheet/viewform?formkey=dEFlVzg3b0E4ejdPUWpvLVZmdWFqOFE6MA#gid=0" target="_blank">スポンサーに関して問い合わせる</a>
  </section>

  <section id="volunteer">
    <h2>ボランティアスタッフ募集のお知らせ</h2>

    <p>HTML5 Conference 2013でボランティアスタッフとして活動してくれる方を募集します。<br>あなたも一緒に、このカンファレンスを作りませんか？
    <p>詳しくは、<a href="volunteer">ボランティア募集ページ</a>をご覧ください。
  </section>
</div>


<% include footer %>
