<% include header %>

<div class="container">
  <h1 class="offerH1">各種募集</h1>
  <p>カンファレンスを一緒に盛り上げて頂ける企業/個人を募集しています。日本最大の HTML5 カンファレンスを一緒に成功させましょう！！</p>
</div>

<div class="container">
  <section id="lt">
    <h2>ライトニングトーク参加者募集のお知らせ</h2>
    <div class="content">
      <p>HTML5 Conference 2013の最終スペシャルセッションで、5分間ライトニングトークにご参加頂ける方々を募集しています！HTML5関連の最新Web技術に関するものであれば内容は自由です。お気軽に応募ください。年に一度のWeb技術者の祭典を、一緒に盛り上げましょう！
      <p>ライトニングトークの参加者は全セッションに参加でき、カンファレンス限定のTシャツをプレゼントするほか、関係者限定の懇親会にもご参加いただけます！
      </p>
      <dl>
        <dt>開催日:</dt><dd>11月30日（土）</dd>
        <dt>場所:</dt><dd>NTT中央研修センタ 講堂（東京都調布市入間町1-44）</dd>
        <dt>LT大会 開催予定時間：</dt><dd>18:30-19:30</dd>
      </dl>
      <ul>
        <li>メインセッション終了後のスペシャルセッション内にて開催します。
        <li>1枠は5分です。5分経過した時点で強制的に終了させていただきます。
        <li>LTの発表順などの詳細は、追ってご連絡いたします。
        <li>入力締切は11月13日（水）18:00を予定しています。
        <li>内容を審査の上、講演依頼をさせていただきます。講演依頼の通知は、11月15日（金）を予定しております。
        <li>LT大会の登壇者は、カンファレンスの全セッションに入場可能です。しかし、本LT大会への申し込み時点ではイベントへの参加をお約束できるものではありません。<!-- イベントへの確実な参加を希望される方は、<a href="http://html5conf2013.peatix.com" target="_blank">イベント用の参加フォーム</a>からも別途お申し込みください。 -->
      </ul>
      <p>以下の応募フォームよりお気軽にお申込みください。締め切りは<strong>11月13日（水）18:00</strong>とさせていただきます。締め切り後に担当者からご連絡させていただきます。
      <p class="text-center"><a class="btn btn-default contact" data-contact-type="ask" href="https://docs.google.com/forms/d/13QOXU5Q764Kst39IJYVm8WsKFIQAfxYy6HC7S5ajs2Y/viewform" target="_blank">LT大会 講演者応募フォーム</a>
    </div>
  </section>

  <section id="sponsor">
    <h2>スポンサー企業募集のお知らせ</h2>
    <p>HTML5 Conference 2013では協賛企業を募集しております。
    <p>ご協賛頂いた方には、<a href="./">本イベント告知サイト</a>でのロゴ掲載を通じて、参加者に御社がHTML5の取り組みを行なっていると強くアピールできます。 ほか、イベントスポンサーとしてカンファレンスにご参加頂けるほか、関係者限定の懇親会にも無料でご参加いただき、様々な企業、個人と交流を深められます。
    <p>関心をお持ちの方は、以下の応募フォームよりお気軽にお申込みください。折り返し、担当者からご連絡させていただきます<br>締め切りは<strong>11月8日</strong>とさせていただきます。

    <p class="text-center"><a class="btn btn-default contact" data-contact-type="ask" href="https://docs.google.com/spreadsheet/viewform?formkey=dEFlVzg3b0E4ejdPUWpvLVZmdWFqOFE6MA#gid=0" target="_blank">スポンサーに関して問い合わせる</a>
  </section>

  <section id="volunteer">
    <h2>ボランティアスタッフ募集のお知らせ</h2>

    <p>HTML5 Conference 2013でボランティアスタッフとして活動してくれる方を募集します。<br>あなたも一緒に、このカンファレンスを作りませんか？
    <p>詳しくは、<a href="volunteer">ボランティア募集ページ</a>をご覧ください。
  </section>
</div>


<% include footer %>
