<% include header %>

<div class="container">
  <h1 class="faqH1">各種募集</h1>
  <p>ボランティアや LT、シルバースポンサーなどカンファレンスを一緒に盛り上げて頂ける企業/個人を募集しています。日本最大の HTML5 カンファレンスを一緒に成功させましょう！！</p>
</div>

<div class="container">

  <section>
    <h2>ボランティア</h2>

    <p>
      HTML5 Conference 2013でボランティアスタッフとして活動してくれる方を募集します。<br>
      是非、他のスタッフの方々と一緒にイベントを盛り上げましょう!!
    </p>

    <p>
      <a class="btn btn-default" href="https://docs.google.com/forms/d/1krKsvgdsSGDW5ikzj2SrMr8vKTxF33Ldl2E4e6PZv6M/viewform" target="_blank">ボランティア募集ページ</a>
    </p>
  </section>

</div>


<% include footer %>