<% include header %>

<div class="container">
  <h1 class="faqH1">各種募集</h1>
  <p>ボランティアや LT、シルバースポンサーなどカンファレンスを一緒に盛り上げて頂ける企業/個人を募集しています。日本最大の HTML5 カンファレンスを一緒に成功させましょう！！</p>
</div>

<div class="container">

  <section>
    <h2>ボランティア</h2>

    <p>
      HTML5 Conference 2013でボランティアスタッフとして活動してくれる方を募集します。<br>
      是非、他のスタッフの方々と一緒にイベントを盛り上げて行きましょう。
    </p>

    <p>
      <a href="https://docs.google.com/forms/d/1krKsvgdsSGDW5ikzj2SrMr8vKTxF33Ldl2E4e6PZv6M/viewform" target="_blank">ボランティア募集ページ</a>
    </p>
  </section>

  <section>
    <h2>スポンサー</h2>

    <p>
    ご協賛頂いた方には、<a href="./">本イベント告知サイト</a>でのロゴ掲載を通じて、参加者に御社がHTML5の取り組みを行なっていると強くアピールすることができます。 ほか、イベントスポンサーとしてカンファレンスにご参加頂けるほか、関係者限定の懇親会にも無料でご参加いただき、様々な企業、個人と交流を深めていただくことができます。 
    </p>

    <p>
      <a href="https://docs.google.com/spreadsheet/viewform?formkey=dEFlVzg3b0E4ejdPUWpvLVZmdWFqOFE6MA#gid=0" target="_blank">スポンサー応募問い合わせフォーム</a>
    </p>
  </section>

</div>


<% include footer %>