<% include header %>

<div class="container">
  <h1 class="sessionsH1">セッション</h1>
  <p>すごいセッションになりました。</p>
</div>

<div class="container">

  <h2>オープニング（12:10-12:40）</h2>
  <p>講堂にて開催します。</p>
  
  <h2>セッション（13:00-18:00）</h2>
  <p>各セッションは5号館で行います。6トラック×5時間の計30セッションです。</p>

  <%- session_html %>

  <h2>スペシャルセッション（18:30-20:00）</h2>
  <p>講堂にて開催します。</p>

</div>

<% include footer %>