<% include header %>

<div class="container">
  <h1 class="sessionsH1">セッション</h1>
  <p>今年は6トラック30セッションで開催します。<br>なお、セッション時間や内容は予告なく変更することがあります。ご了承ください。</p>
</div>

<div class="container">

  <h2>オープニング（12:10-12:40）</h2>
  <p>講堂にて開催します。</p>
  
  <h2>セッション（13:00-18:00）</h2>
  <p>各セッションは5号館で行います。6トラック×5時間の計30セッションです。</p>

  <%- session_html %>

  <h2>スペシャルセッション（18:30-20:00）</h2>
  <p>講堂にて開催します。</p>

</div>

<!-- Modal -->
  <div class="modal fade" id="session-modal" tabindex="-1" role="dialog" aria-labelledby="sessionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<% include footer %>