<% include header %>

<div class="container">
  <h1 class="sessionsH1">セッション</h1>
  <p>すごいセッションになりました。</p>
</div>

<div class="container">

  <h2>オープニング（12:15-12:45）</h2>
  <p>講堂にて開催します。</p>
<!--   <div class="table-responsive">
    <table class="table table-">
      <tr class="active"><th>講堂
      <tr><td>オープニング
    </table>
  </div> -->
  
  <h2>セッション（13:00-18:00）</h2>
  <p>各セッションは5号館で行います。6トラック×5時間の計30セッションです。</p>
  <div class="table-responsive">
    <table class="table table-">
    <thead>
      <tr>
        <th scope="col">時間
        <th scope="col">ルーム<br>(1F)<br>定員：360
        <th scope="col">ルーム<br>(2F)<br>定員：300
        <th scope="col">ルーム<br>(5F)<br>定員：120
        <th scope="col">ルーム<br>(5F)<br>定員：120
        <th scope="col">ルーム<br>(5F)<br>定員：360
        <th scope="col">ルーム<br>(6F)<br>定員：240
    </thead>
      <!-- <tr class="break active">
        <th class="time" scope="row">12:45 - 13:00<td colspan="6">休憩（15分） -->
      <tr>
        <th class="time" scope="row">13:00 - 13:45
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
      <tr class="break active">
        <th class="time" scope="row">13:45 - 14:00<td colspan="6">休憩（15分）
      <tr>
        <th class="time" scope="row">14:00 - 14:45
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
      <tr class="break active">
        <th class="time" scope="row">14:45 - 15:15<td colspan="6">休憩（15分）
      <tr>
        <th class="time" scope="row">15:15 - 16:00
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
      <tr class="break active">
        <th class="time" scope="row">16:00 - 16:15<td colspan="6">休憩（15分）
      <tr>
        <th class="time" scope="row">16:15 - 17:00
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
      <tr class="break active">
        <th class="time" scope="row">17:00 - 17:15<td colspan="6">休憩（15分）
      <tr>
        <th class="time" scope="row">17:15 - 18:00
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
        <td class="session">
          <h4 class="sesssion-title"><a href="">セッションタイトル</a></h4>
          <p class="session-speaker">
            <span class="name">おなまえ</span><br>
            <span class="affiliation">ごしょぞく</span>
          </p>
          <div class="session-desc">
            <p>ないようないようないようないようないよう。</p>
          </div>
          <div class="materials">
            <p><!--<span class="button">講演資料</span><span class="button">講演映像</span>--></p>
          </div>
          <hr>
          <div class="toolbox">
            <p><a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star"></span>見たい！</a></p>
          </div>
    </table>
  </div>

  <h2>クロージング（18:30-20:00）</h2>
  <p>講堂にて開催します。</p>
<!--   <div class="table-responsive">
    <table class="table table-">
      <tr><th>講堂
      <tr><td>クロージング
    </table>
  </div> -->

</div>

<% include footer %>