<% include header %>

<div class="container">
  <h1 class="sessionsH1">セッションテーブル</h1>
  <p>今年は6トラック30セッションで開催します。<br>なお、セッション時間や内容は予告なく変更することがあります。ご了承ください。</p>
  <p>少しでも多くのセッションを皆様に届けたいと思った結果、開始時刻が昼食の時間と重なってしまいました。皆様には、少し早めのお昼ごはんを済ませてからご来場頂くことをお勧めします。<br>
    また、会場では無料でおやつを食べられるようにしてあります。お腹が空く心配をすることなく、できれば最後のセッションまでお付き合いください！
</div>

<section class="container">
  <h2>オープニングセッション<span class="time">（12:00-12:40）</span></h2>
  <p>今年は及川卓也＆白石俊平のhtml5j創設者コンビによるトークに加え、なんと「日本のインターネットの父」村井純先生の招待講演も！<br>日本のWebのこれまでとこれからについて総括し、「Web技術者の祭典」の始まりを高らかに謳いあげます！歴史的な瞬間（？）を目に焼き付けろ！
  <p><small>（このセッションは、本館とは別の講堂（収容人数1,000名）で開催されます。）</small>
</section>

<section class="container">
  <h2>セッション<span class="time">（13:00-18:00）</span></h2>
  <p>各セッションは5号館で行います。6トラック×5時間の計30セッションです。
  <p>休憩は基本的に15分ですが、14:45からの休憩は「おやつタイム」として30分の余裕があります。おやつを食べて後半のセッションに備えるだけでなく、展示ブースも見て回って楽しんでください。

  <%- session_html %>
</section>

<section class="container">
  <h2>スペシャルセッション<span class="time">（18:30-19:30）</span></h2>
  <p>「つながる、学べる、盛り上がる」を旨とするhtml5jが、皆様を楽しませるために全力を尽くします！<br>
    もはや恒例、あんどうやすしさんの司会によるおもしろライトニングトーク大会や、スポンサーの皆様から頂いた豪華景品の当たるクイズ大会など、「Web技術者の祭典」を締めくくるにふさわしいお楽しみセッション。これから本格化する寒さも、次の日から始まる師走の忙しさも忘れて、最後まで盛り上がりましょう！
  <p><small>（このセッションは、本館とは別の講堂（収容人数1,000名）で開催されます。）</small>
</section>

<!-- Modal -->
  <div class="modal fade" id="session-modal" tabindex="-1" role="dialog" aria-labelledby="sessionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<% include footer %>
