<% include header %>

<div class="container">
  <h1 class="sessionsH1">セッションテーブル</h1>
  <p>今年は6トラック30セッションで開催します。<br>なお、セッション時間や内容は予告なく変更することがあります。ご了承ください。</p>
  <p>少しでも多くのセッションを皆様に届けたいと思った結果、開始時刻が昼食の時間と重なってしまいました。皆様には、少し早めのお昼ごはんを済ませてからご来場頂くことをお勧めします。<br>
    また、会場では無料でおやつを食べられるようにしてあります。お腹が空く心配をすることなく、できれば最後のセッションまでお付き合いください！
</div>

<section class="container">
  <h2>オープニングセッション<span class="time">（12:00-12:40）</span></h2>
  <ul id="keynote_speakers">
  <% ['jun_murai', 'takuya_oikawa', 'shumpei_shiraishi'].forEach(function(id) { %>
    <li>
      <a href="./speaker/<%= id %>">
        <img width="28" height="28" alt="" src="/conference/2013/11/<%= speakers[id].img_url %>">
        <span class="name"><%= speakers[id].name %></span>
      </a>
    </li>
  <% }); %>
  </ul>
  <p>HTML5に端を発したWeb技術の進化は留まることを知らず、より高度で多様なユースケースを満たすために、深まり続け、広がり続けています。前回のカンファレンスから数えて１年超の間にも、その動きは激しくなるばかりでした。
このセッションでは、この一年でWebの世界に起こった変化を、技術的な側面とコミュニティ的な側面から振り返ります。
そして村井純先生による招待講演では、驚異的とも言える昨今のWebの進化の行く末を、インターネット黎明期に思い描いていたビジョンとの対比を交えながら語っていただきます。
  <p><small>（このセッションは、本館とは別の講堂（収容人数1,000名）で開催されます。）</small>
</section>

<section class="container">
  <h2>セッション<span class="time">（13:00-18:00）</span></h2>
  <p>各セッションは5号館で行います。6トラック×5時間の計30セッションです。
  <p>休憩は基本的に15分ですが、14:45からの休憩は「おやつタイム」として30分の余裕があります。おやつを食べて後半のセッションに備えるだけでなく、展示ブースも見て回って楽しんでください。

  <%- session_html %>
</section>

<section class="container">
  <h2>スペシャルセッション<span class="time">（18:20-19:30）</span></h2>
  <p>「つながる、学べる、盛り上がる」を旨とするhtml5jが、皆様を楽しませるために全力を尽くします！<br>
    もはや恒例、あんどうやすしさんの司会によるおもしろライトニングトーク大会や、スポンサーの皆様から頂いた豪華景品の当たるクイズ大会など、「Web技術者の祭典」を締めくくるにふさわしいお楽しみセッション。これから本格化する寒さも、次の日から始まる師走の忙しさも忘れて、最後まで盛り上がりましょう！
  <p><small>（このセッションは、本館とは別の講堂（収容人数1,000名）で開催されます。）</small>
</section>

<!-- Modal -->
  <div class="modal fade" id="session-modal" tabindex="-1" role="dialog" aria-labelledby="sessionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<% include footer %>
