<% include header %>

<div class="container">
  <h1 class="speakersH1">スピーカーのみなさん</h1>
  <p>すごいひとたちに集まっていただきました。</p>
</div>

<div class="container">
  <%- profiles_html %>
</div>

<% include footer %>