<% include header %>

<div class="container">
  <h1 class="speakersH1">スピーカーのみなさん</h1>
  <p>第一線で活躍するすばらしい方々に、スピーカーとして登壇いただけることになりました。</p>
</div>

<div class="container">
  <%- profiles_html(speakers) %>
</div>

<% include footer %>