<% include header %>

<div class="container">
  <h1 class="speakersH1">スピーカーのみなさん</h1>
  <p>すごいひとたちに集まっていただきました。</p>
</div>

<div class="container">

  <section class="speaker">
    <h2><a href="speaker/***.html">スピーカー名</a></h2>
    <p class="affiliation">所属</p>
    <p class="image"><img src="" alt=""></p>
    <div class="description">
      <p>せつめい</p>
      <p>せつめい</p>
      <p>せつめい</p>
    </div>
  </section>

  <section class="speaker">
    <h2><a href="speaker/***.html">スピーカー名</a></h2>
    <p class="affiliation">所属</p>
    <p class="image"><img src="" alt=""></p>
    <div class="description">
      <p>せつめい</p>
      <p>せつめい</p>
      <p>せつめい</p>
    </div>
  </section>

  <section class="speaker">
    <h2><a href="speaker/***.html">スピーカー名</a></h2>
    <p class="affiliation">所属</p>
    <p class="image"><img src="" alt=""></p>
    <div class="description">
      <p>せつめい</p>
      <p>せつめい</p>
      <p>せつめい</p>
    </div>
  </section>

</div>

<% include footer %>