<% include header %>

<div class="container">
  <h1 class="offerH1">ボランティアスタッフ募集</h1>
  <p>HTML5 Conference 2013 運営事務局では、カンファレンスの運営ボランティアスタッフを募集しております。主な作業内容は、前日の会場設営や当日の受付・誘導等です。詳細は下記をご覧ください。ぜひ、一緒にこのイベントを作っていきませんか？ご応募お待ちしております！
  <p class="register center"><a class="btn btn-default btn-lg" href="https://docs.google.com/forms/d/1krKsvgdsSGDW5ikzj2SrMr8vKTxF33Ldl2E4e6PZv6M/viewform">ボランティアスタッフに応募する</a>
</div>

<div class="container">
  <section>
    <h2>参加するにあたって</h2>
    <p>HTML5 Conference 2013は、非営利団体であるhtml5j、並びにボランティアの方々の協力で成り立っています。本カンファレンスのような大きなイベントを成功させる原動力は、スタッフやボランティアの方々が一緒に楽しむことです。ボランティアの方々は、決してアルバイトのようなものではありません。このボランティアの活動を通じて、一般の参加者の方々とはまた違った視点で本カンファレンスを楽しんでいただきたいと思っています。同じボランティアやスタッフ、スピーカーとの交流。イベントを作り上げていく達成感。参加者の楽しんでいる様子など。楽しみ方はそれぞれだと思いますが、皆さんの糧になれば幸いです。
  </section>
  <section>
    <h2>ボランティアの皆さんにお願いすること</h2>
    <p>ボランティアの皆さんで作業ごとにグループを作り、グループ単位で動いていただきます。現在予定している主な作業内容は以下の通りです。
    <ul>
      <li>会場設営・撤収作業担当
      <li>受付担当
      <li>誘導担当
      <li>ルーム担当（受講者のカウントやタイムキーパーなど）
      <li>写真・レポート担当
    </ul>
    <p>経験のない方でも、グループを組んで一緒に作業しますのでご安心ください。また、カンファレンス自体も楽しめるように、作業時間は全体の半分程度にする予定です。「このセッションはどうしても聞きたい！」というものがあれば、遠慮なく言ってください :-)
    <p>※各作業の担当はなるべく希望するところを担当していただきますが、人数によっては希望に添えないこともあります。
  </section>
  <section>
    <h2>ボランティアスタッフの特典</h2>
    <p>特典と呼べるほどのものではないかもしれませんが、ボランティアで参加して頂ける方のメリットを並べてみました。
    <ul>
      <li>壮絶な一般参加申し込み競争をパスできます！
      <li>特製のスタッフ用Tシャツを配ります！
      <li>スタッフ打ち上げに参加できます！
      <li>著名なスタッフやスピーカーと仲良くなれる（かもしれません）！
      <li>特に目新しいところはないお昼のお弁当が出ます！
    </ul>
  </section>
  <section>
    <h2>募集概要</h2>
    <h3>時間</h3>
    <p>2013年11月30日（土）<br>11:00 ～ 20:00（予定）
    <h3>開催場所</h3>
    <p>NTT中央研修センタ<br>東京都調布市入間町1-44
    <h3>応募人数</h3>
    <p>100名程度<br>※応募多数の場合は抽選となります。あらかじめご了承ください。
    <h3>キックオフ＆事前ミーティング</h3>
    <p>11月8日（金）と11月22日（金）の夜に、html5jスタッフとキックオフ＆事前ミーティングを行います。
    <p>ミーティングでは、当日のスケジュールなどの説明や、担当決めを行います。どちらかの日程の参加で大丈夫です。
  </section>
  <section>
    <h3>お申込み</h3>
    <p>応募フォームからお願いします。
    <p class="register center"><a class="btn btn-default btn-lg" href="https://docs.google.com/forms/d/1krKsvgdsSGDW5ikzj2SrMr8vKTxF33Ldl2E4e6PZv6M/viewform">ボランティアスタッフに応募する</a>
  </section>
</div>


<% include footer %>