body {
  padding-top: 70px;
}

.navbar-inverse {
	background-image: linear-gradient(to bottom,#222 0,#000 100%);
	background-color:#000;
	opacity: 0.8;  
	
	
}

.jumbotron {
	background-color: #fff;
	text-align:center;
}

.jumbotron h1 {
font-size: 24px;
}

.jumbotron .theme {
font-size: 48px;
}

.jumbotron p {
font-size: 14px;
}



.align-center {
	text-align:center;
}

dl:after {
	clear:both;
}

dt {
	clear:both;
	float:left;
	padding:5px 5px 0px 0;
	width:25%;
}

dd {
	padding:5px 0px 0px 25%;
}


th {
	background:#ccc;
	padding:15px;
	border: 2px solid #fff;

}
td {
	padding:15px;
	border: 2px solid #fff;
}


.btn-warning {
	margin:20px auto;
background-image: -webkit-linear-gradient(top,#f0ad4e 0,#eb9316 100%);
background-image: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%);
background-repeat: repeat-x;
border-color: #e38d13;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e',endColorstr='#ffeb9316',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
color: #ffffff;
background-color: #f0ad4e;
border-color: #eea236;
}

.tac {
	text-align:center;
}

footer {
	background-color: #555;
	text-align:center;
	padding:50px 0;
	margin-top:50px;
	color:#fff;
	
}
@media screen and (max-width: 768px) {
	
.jumbotron h1 {
font-size: 16px;
}
.jumbotron .theme {
font-size: 36px;
}


.jumbotron {
padding-right:20px;
padding-left:20px;
}
}


@media screen and (max-width: 600px) {
	
.jumbotron h1 {
font-size: 16px;
}

.jumbotron .theme {
font-size: 24px;
}

.jumbotron img {
width:100%;
}
.list-unstyled.list-inline {
	text-align: center;
}
}

dt {
	width: auto;
}

.list-inline > li:first-child {
	padding-left: 5px;
}

.sponsor-class {
	font-weight: bold;
	text-align: center;
}

.thumbnail {
	padding: 16px;
}

#sponsor h2 {
	font-size: 1.5em;
}

.application {
	font-size: 2em;
	padding: 0.6em;
}
.info {
	margin: 0.8em;
}

.jumbotron img {
	padding: 5%;
	max-width: 600px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}