
.qn {
  display: none;
}

.containers {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -ms-box;
    -ms-box-orient: vertical;
    display: -o-box;
    -o-box-orient: vertical;
    display: box;
    box-orient: vertical;
    margin-top: 20px;
}

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
}

.box_orient_vertical {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
}

.answer_count_all {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: darkorange;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

}

.box_a {
    position: relative;
    width: 333px;
    height: 230px;
    padding: 25px;
    overflow: hidden;
    color: black !important;
    border: 1px solid #000000;
    margin: 1px;
    background-size:100%;
    background-repeat: no-repeat;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.anim_slide_in {
    -webkit-animation-name: slide_in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 8s;

    -moz-animation-name: slide_in;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: 8s;

    -ms-animation-name: slide_in;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
    -ms-animation-duration: 8s;

    -o-animation-name: slide_in;
    -o-animation-iteration-count: 1;
    -o-animation-timing-function: linear;
    -o-animation-duration: 8s;

    animation-name: slide_in;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 8s;
}   
    
@-webkit-keyframes slide_in {
    0% {background-position: 400px 0px;}
  100% {background-position: 0px 0px;}
}

.anim_zoom_out {
    -webkit-animation-name: zoom_out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 8s;
    -webkit-animation-fill-mode: forwards;
}   
    
@-webkit-keyframes zoom_out {
    0% {background-size: 500%; background-position: 50% 50%;}
   80% {background-size: 250%; background-position: 50% 50%;}
  100% {background-size: 100%; background-position: 50% 50%;}
} 

.rotate_a,
.rotate_b {
    position: relative;
    left: 50px;
    top: -3px;
}

.anim_rotate_right {
    -webkit-animation-name: rotate_right;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: cubic-bezier(0.1, 1, 1, 1);
    -webkit-animation-duration: 6s;
}

@-webkit-keyframes rotate_right {
    0% {-webkit-transform: rotate(1080deg);}
  100% {-webkit-transform: rotate(0deg);}
}

.anim_rotate_left {
    -webkit-animation-name: rotate_left;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: cubic-bezier(0.1, 1, 1, 1);
    -webkit-animation-duration: 6s;
}

@-webkit-keyframes rotate_left {
    0% {-webkit-transform: rotate(-1080deg);}
  100% {-webkit-transform: rotate(0deg);}
}

.box_b {
    position: relative;
    width: 740px;
    height: 100px;
    padding: 15px;
    overflow: hidden;
    color: black !important;
    border: 1px solid #000000;
    margin: 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.box_c {
    position: relative;
    width: 353px;
    height: 60px;
    padding: 15px;
    overflow: hidden;
    color: black !important;
    border: 1px solid #000000;
    margin: 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.box_c_up {
    position: relative;
    width: 740px;
    height: 346px;
    padding: 15px;
    overflow: hidden;
    color: black !important;
    border: 1px solid #000000;
    margin: 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.box_d {
    position: relative;
    width: 740px;
    height: 200px;
    padding: 15px;
    overflow: hidden;
    color: black !important;
    border: 1px solid #000000;
    margin: 1px;
    z-index: 4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.box_a_num {
    position: absolute;
    top: 8px;
    right: 305px;
    z-index: 4;
}

.box_b_num {
    position: absolute;
    top: 29px;
    left: 12px;
    z-index: 4;
}

.box_c_num {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 4;
}  

.box_b_num > .big {
    font-size: 45px;
    position: relative;
    top: -16px;
}

.box_c_num > .big {
    font-size: 38px;
    position: relative;
    top: -18px;
}

.answer_check_box_a > .count,
.answer_check_box_b > .count,
.answer_check_box_c > .count,
.answer_check_box_d > .count {
    position: relative;
    top: 16px;
}

.answer_check_box_a {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #009;
    z-index: 4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.answer_check_box_b {
    position: absolute;
    right:  10px;
    bottom: 28px;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #000099;
    z-index: 4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.answer_check_box_c {
    position: absolute;
    right:  10px;
    bottom: 9px;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #000099;
    z-index: 4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.answer_check_box_d {
    position: absolute;
    right:  10px;
    bottom: 32px;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #000099;
    z-index: 4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
/* -------------------- ë¨ìöèá -------------------- */

.faster_box {
    position: relative;
    width: 730px;
    height: 50px;
    padding: 10px 10px 10px 30px;
    overflow: hidden;
    color: black !important;
    border: 1px solid #000000;
    margin: 1px 1px 10px 1px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.faster_anim {
    -webkit-transform: rotate(0deg) rotateX(90deg);
    -webkit-animation-name: rotate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}

.faster_rank0 {
    -webkit-transform: rotate(0deg) rotateX(90deg);
    -webkit-animation-name: rotate,blink_rank;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3.0s;
    -webkit-animation-duration: 1s,2.5s;
    -webkit-animation-fill-mode: forwards;
}

.faster_rank1 {
    -webkit-animation-delay: 2.5s;
}

.faster_rank2 {
    -webkit-animation-delay: 2s;
}

.faster_rank3 {
    -webkit-animation-delay: 1.5s;
}

.faster_rank4 {
    -webkit-animation-delay: 1s;
}

.faster_rank5 {
    -webkit-animation-delay: 0.5s;
}

.faster_rank6 {
    -webkit-animation-delay: 0s;
}

.ranking {
    position: relative;
    top: -45px;
}

.rank_box {
    width: 730px;
    height: 35px;
    padding: 10px 10px 10px 30px;
    overflow: hidden;
    color: black !important;
    border: 1px solid black;
    margin: 1px 1px 10px 1px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.rank_anim {
    -webkit-transform: rotate(0deg) rotateX(90deg);
    -webkit-animation-name: rotate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}

.faster100_rank0 {
    -webkit-animation-delay: 4.5s;
}

.faster100_rank1 {
    -webkit-animation-delay: 4s;
}

.faster100_rank2 {
    -webkit-animation-delay: 3.5s;
}

.faster100_rank3 {
    -webkit-animation-delay: 3s;
}

.faster100_rank4 {
    -webkit-animation-delay: 2.5s;
}

.faster100_rank5 {
    -webkit-animation-delay: 2s;
}

.faster100_rank6 {
    -webkit-animation-delay: 1.5s;
}

.faster100_rank7 {
    -webkit-animation-delay: 1s;
}

.faster100_rank8 {
    -webkit-animation-delay: 0.5s;
}

.faster100_rank9 {
    -webkit-animation-delay: 0s;
}

.answer_sum {
    position: absolute;
    top: 7px;
    right: 190px;
    width: 70px;
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #000099;
    padding: 10px 20px 10px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.answer_sum_rank {
    position: absolute;
    top: 4px;
    right: 160px;
    width: 60px;
    text-align: right;
    font-weight: bold;
    color: white;
    background-color: #009;
    padding: 6px 12px 5px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.answer_time {
    position: absolute;
    top:  7px;
    right: 15px;
    width: 130px;
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #000099;
    padding: 10px 20px 10px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.answer_time_rank {
    position: absolute;
    top: 4px;
    right: 10px;
    width: 125px;
    text-align: right;
    font-size: 1.0em;
    font-weight: bold;
    color: white;
    background-color: #009;
    padding: 6px 12px 5px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

@-webkit-keyframes rotate {
    0% {-webkit-transform: rotate(0deg) rotateX(90deg) scale(1)}
    100% {-webkit-transform: rotate(0deg) rotateX(0deg) scale(1)}
}

@-webkit-keyframes blink_rank {
    0% {background-color: white;}
   39% {background-color: white;}
   40% {background-color: rgba(255, 140, 0, 0.5);}
   49% {background-color: rgba(255, 140, 0, 0.5);}
   50% {background-color: white;}
   59% {background-color: white;}
   60% {background-color: rgba(255, 140, 0, 0.5);}
   69% {background-color: rgba(255, 140, 0, 0.5);}
   70% {background-color: white;}
   79% {background-color: white;}
   80% {background-color: rgba(255, 140, 0, 0.5);}
   89% {background-color: rgba(255, 140, 0, 0.5);}
   90% {background-color: white;}
   99% {background-color: white;}
  100% {background-color: rgba(255, 140, 0, 0.5);}
}

.correct_border {
    border: 8px solid red;
    z-index: 3;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;

    -webkit-animation-name: blink_answer;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1s;
}

@-webkit-keyframes blink_answer {
    0% {background-color: rgba(255, 140, 0, 0.5);}
   50% {background-color: rgba(255, 140, 0, 0.5);}
   51% {background-color: rgba(255, 140, 0, 0);}
  100% {background-color: rgba(255, 140, 0, 0);}
}

.correct_1_box_a {
    position: absolute;
    top: 89px;
    left: 52px;
}

.correct_2_box_a {
    position: absolute;
    top: 89px;
    left: 440px;
}

.correct_3_box_a {
    position: absolute;
    top: 372px;
    left: 52px;
}

.correct_4_box_a {
    position: absolute;
    top: 372px;
    left: 440px;
}

.correct_1_box_b {
    position: absolute;
    top: 89px;
    left: 53px;
}

.correct_2_box_b {
    position: absolute;
    top: 223px;
    left: 53px;
}

.correct_3_box_b {
    position: absolute;
    top: 356px;
    left: 53px;
}

.correct_4_box_b {
    position: absolute;
    top: 491px;
    left: 53px;
}

.correct_1_box_c {
    position: absolute;
    top: 469px;
    left: 54px;
}

.correct_2_box_c {
    position: absolute;
    top: 469px;
    left: 440px;
}

.correct_3_box_c {
    position: absolute;
    top: 562px;
    left: 53px;
}

.correct_4_box_c {
    position: absolute;
    top: 563px;
    left: 440px;
}

.correct_1_box_d {
    position: absolute;
    top: 125px;
    left: 54px;
}

.correct_2_box_d {
    position: absolute;
    top: 469px;
    left: 440px;
}

.correct_3_box_d {
    position: absolute;
    top: 563px;
    left  54px;
}

.correct_4_box_d {
    position: absolute;
    top: 563px;
    left: 440px;
}

.center {
    text-align: center;
}

.boxcenter {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
}

.vbox {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: stretch;
    display: -ms-box;
    -ms-box-orient: vertical;
    -ms-box-align: stretch;
    display: -o-box;
    -o-box-orient: vertical;
    -o-box-align: stretch;
    display: box;
    box-orient: vertical;
    box-align: stretch;
}

.l_small {
    font-size: 0.75em;
}

.small {
    font-size: 0.7em;
}

.x_small {
    font-size: 0.6em;
}

.large {
    font-size: 1.1em;
    line-height: 26px !important;
}

.question_small {
    font-size: 0.9em;
    line-height: 34px; 
}

.box_b_line_height_x_small {
    line-height: 1.4em;
}

.line_height_x_small {
    line-height: 14px;
}

.box_a pre {
    margin: 10px 0 0 0;
    line-height: 14px;
    height: 180px;
}

.box_c_up pre {
    height: 330px;
    margin: 0;
    line-height: 12px;
}

.display_none {
    display: none;
}


