<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
  <p><%= title %> のアンケートにお答えいただき有難うございました。</p>
  <p><a href="./">こちら</a>より、別のセッションのアンケートに回答頂けます</p>
  </body>
</html>
