
.top-image {
    background: url(../img/topimgBg.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.logo-wrapper {
    display: inline-block;
}

.social {
    margin-bottom: -40px;
    text-align: center;
}

.social ul {
    margin: 1em 0 0;
    padding: 0;
    list-style: none;
}

.social ul li {
    display: inline;
}

#register {
    margin-top: 3em;
}

#register .btn {
    padding: 1em 1em;
    font-weight: bold;
    border: none;
    background: #8bbaaa;
    color: #fff;
    text-shadow: 0px 3px 0px #78ab9a;
    box-shadow: 0px 5px 0 #78ab9a;
    border-radius: 3px;
}

#offering {
    margin-top: 2em;
}

#offering h2 {
	background-color: #f07444;
	font-size:16px;
	font-weight:bold;
	padding:16px 55px;
    margin: 0;
    color: white;
	text-shadow:2px 2px 0 #dc4f2f;
	max-width: 1170px;
}

#offering ul{
    padding:30px 55px;
	margin:-2px 0 0 0px;
	list-style-type:none;
	overflow:hidden;
	background-color: #fff;
	max-width: 1170px;
}

#offering li {
    margin-bottom:15px;
}

#offering li a {
    color:#000;
    text-decoration: underline;

}

#offering dl{
    padding:30px 55px;
	margin:-2px 0 0 0px;
	list-style-type:none;
	overflow:hidden;
	background-color: #fff;
	max-width: 1170px;
}

#offering dt {
    float: left;
	width:100px;
}


#offering dd {
     padding-left:100px;
}
#offering dd a {
    color:#000;
    text-decoration: underline;

}



#offering dd {
    margin-bottom:12px;
}

#offering dd a {
    color:#000;
    text-decoration: underline;

}


span.iconNew {
	background:#f07444;
	font-size:12px;
	color:#fff;
	padding:2px 5px;
	text-align:center;
	width:40px;
	margin-right:0.7em;
	text-decoration: none;
}


span.iconEnd {
	background:#e8e8e8;
	font-size:12px;
	color:#333333;
	padding:2px 5px;
	text-align:center;
	width:40px;
	margin-right:0.7em;
	text-decoration: none;
}

span.iconNow {
	background:#78ab9a;
	font-size:12px;
	color:#fff;
	padding:2px 5px;
	text-align:center;
	width:40px;
	margin-right:0.7em;
	text-decoration: none;
}
