body {
    margin-top: 105px; /* the height of the navbar */
    background-color: #f5f1e8;
}

a {
    color: #78ab9a;
}

a:hover {
    color: #8bbaaa;
}

figure {
    margin: 1em 0;
}

.navbar-header{
    float: none;
    padding-top: 6px;
    text-align: left;
}

.navbar-header > h1 {
    float: left;
    margin: 0;
}

.navbar-header > p {
    float: right;
    margin-top: 30px;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}

.navbar-collapse  {
    padding: 0;
}

.nav {

}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover  {
    background-color: #fff;
    color: #c21c26;
    border-bottom: 3px solid #f5f5f5;
    padding-bottom: 5px;
    margin-bottom: 5px;

}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus  {
    background-color: #fff;
    color: #c21c26;
}


h1 {
    margin-top: 50px;
    line-height: 1.6;
}

h1.topH1 {
    padding-left: 68px;
    line-height: 65px;
    margin-bottom:30px;
    background: url(../img/topH1.png) left center no-repeat;
}

h1.sessionsH1 {
    padding-left: 68px;
    line-height: 65px;
    margin-bottom:30px;
    background: url(../img/sessions.png) left center no-repeat;
}

h1.speakersH1 {
    padding-left: 68px;
    line-height: 65px;
    margin-bottom:30px;
    background: url(../img/speakers.png) left center no-repeat;
}

h1.accessH1 {
    padding-left: 68px;
    line-height: 65px;
    margin-bottom:30px;
    background: url(../img/access.png) left center no-repeat;
}

h1.offerH1 {
    padding-left: 68px;
    line-height: 65px;
    margin-bottom:30px;
    background: url(../img/offering_icon.png) left center no-repeat;
}

h1.faqH1 {
    padding-left: 68px;
    line-height: 65px;
    margin-bottom:30px;
    background: url(../img/faq.png) left center no-repeat;
}

h1.boothH1 {
  padding-left:68px;
  line-height:65px;
  margin-bottom:30px;
  background:url(../img/booth.png) left center no-repeat;
}

h2 {
    margin-top: 40px;
    font-size: 24px;
    color: #f36519;
    border-bottom: 3px solid #ebebeb;
    line-height: 1.6;
}

h3 {
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
}

h5 {
    font-weight: bold;
}

.section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.section-heading {
    font-size: 4em;
    margin: 30px 0;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

table.table thead tr th {
    background: #f3895b;
    border: 2px solid #f5f1e8;
    color: #fff;

}

table.table {
    empty-cells: show;
    border-collapse: separate;
}

table.table tr th.time {
    background: #fff;
    border: 2px solid #f5f1e8;
}

table.table tr td.session {
    background: #fff;
    border: 2px solid #f5f1e8;
    min-width: 180px;
}

.sesssion-title {
    font-size: 16px;
    line-height: 1.3;
}

.map {
    width: 600px;
    height: 400px;
}

.btn {
    border: none;
    background: #8bbaaa;
    box-shadow: 0px 5px 0 #78ab9a;
    border-radius: 3px;
}

.btn:hover {
    border: none;
    background: #88ab9a;
    box-shadow: 0px 2px 0 #78ab9a;
    border-radius: 3px;
}

footer {
    margin: 50px 0 0 0;
    padding: 50px 0;
    background: #f3895b;
    color: #fff;
}

footer p a {
    color: #fff;
}

.top-image {
    position: relative;
    height: 500px;
}
#canvas {
    margin-top: 30px;
    /*height: 100%;*/
    max-height: 470px;
}

.content dl {
    margin-left: 32px;
    padding: 0;
    font-size: 13px;
}
.content dt {
    font-weight: bold;
    float: left;
}
.content dd {
    margin-left: 5em;
}

#keynote_speakers {
    list-style: none;
    padding-left: 0;
}
#keynote_speakers li {
    padding-right: 10px;
    display: inline-block;
}

/* booth追加分 */
.booth {
    background:#fff;
    padding:0 20px;
    margin-bottom:30px;
    overflow:hidden;
}

.booth h2 {
    margin-top:20px;
}

.booth  p.image {
    float:left;
    margin-right:50px;
}

.booth  > ul > li:before {
    content: "●";
    color:#ebebeb;
    margin-right:8px;
}

.booth  > ul > li {
    list-style-type:none;
    font-size:16px;
}

.descriptionBt {
    clear:both;
    padding-top:20px;
}

.boothDl {
    margin-top:20px;
    border:2px solid #ebebeb;
}

.boothDl > dt {
    clear:both;
    display:inline-block;
    padding:10px 1%;
    vertical-align:top;
}

.boothDl > dd.boothtitle {
    display:inline-block;
    padding:10px 1%;
    vertical-align:top;
    color:#78ab9a;
    font-weight:bold;
}

.boothDl > dd.boothdesc {
    vertical-align:top;
    border-top:1px dotted #ebebeb;
    border-bottom:2px solid #ebebeb;
    padding:10px 1%;
    line-height:1.5;
}

.boothDl > dd.boothdesc:last-child {
    border-bottom:0px solid #e8e8e8;
}


/* booth追加分 */
@media (max-width: 768px) {
    body {
        margin-top: 80px; /* the height of the navbar */
    }

    #offering {
       width: 80%;
    }

    #offering ul {
        padding-left: 1.2em;
    }

    h1 {
        line-height: 1;
    }

    .navbar-header > h1  {
        display: block;
        width: 400px;
        margin-left: 0.2em;
    }

    .navbar-toggle {
        border: none;
        background: #8bbaaa;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
        border: none;
        background-color: #78ab9a;
    }


    .navbar-header > h1 > img {
        width: 100%;
    }

    .navbar-header > p {
        clear: both;
        display: block;
        float: none;
        margin-left: 10px;
        margin-top: 10px;
    }
    .navbar-collapse  {
        padding: 0 10px;
    }

    .navbar-toggle {
        float: right;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border: 0px;
    }

    .section-heading {
        font-size: 2em;
    }

    .map {
        width: 280px;
        height: 280px;
    }

    .section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    h1.topH1,
    h1.sessionsH1,
    h1.speakersH1,
    h1.accessH1,
    h1.faqH1 {
      padding: 18px 0 18px 68px;
      line-height: 28px;
      font-size: 28px;
    }

    .top-image {
        height: 350px;
    }

    #canvas {
        margin-top: 30px;
        max-height: 350px;
    }

        /* booth追加分 */
    .booth p.image {
        float:none;
        margin-right:10px;
    }


    .boothDl {
        margin-top:20px;
    }

    .boothDl > dt {
        float:none;
        width:98%;
        padding:10px 1%  0px 1%;
        margin-right:0px;
    }

    .boothDl > dd.boothtitle {
        float:none;
        width:98%;
        padding:0px 1%  0px 1%;
        margin-right:0px;
    }

    .boothDl > dd.boothdesc {
        border-top:1px dotted #e8e8e8;
        padding:10px 1%  5px 1%;
        margin-right:0px;
    }
}

/* booth追加分 */
@media (max-width: 480px) {

    body {
        margin-top: 80px; /* the height of the navbar */
    }

    #offering {
       width: 90%;
    }

    #offering h2 {
        font-size: 1.5em;
        padding-bottom: 0.5em;
    }

    #offering ul {
        padding-left: 1.2em;
    }

    .navbar-header > h1  {
        float: left;
        width: 250px;
    }

    .navbar-header > h1 > img {
        width: 100%;
    }

    .navbar-header > p {
        float: left;
        margin-left: 10px;
        margin-top: 10px;
    }
    .navbar-collapse  {
        padding: 0 10px;
    }

    .navbar-toggle {
        float: right;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border: 0px;
    }

    .section-heading {
        font-size: 2em;
    }

    .map {
        width: 280px;
        height: 280px;
    }

    .section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    footer {
        padding: 30px 0;
    }

    .top-image {
        height: 250px;
    }

    #canvas {
        max-height: 250px;
    }
}
