
.top-image {
    background: url(../img/topimgBg.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.logo-wrapper {
    display: inline-block;
}

.social {
    margin-bottom: -40px;
    text-align: center;
}

.social ul {
    margin: 1em 0 0;
    padding: 0;
    list-style: none;
}

.social ul li {
    display: inline;
}

#register {
    margin-top: 3em;
}

#register .btn {
    padding: 1em 1em;
    font-weight: bold;
    border: none;
    background: #8bbaaa;
    color: #fff;
    text-shadow: 0px 3px 0px #78ab9a;
    box-shadow: 0px 5px 0 #78ab9a;
    border-radius: 3px;
}

#offering {
    margin-top: 2em;
}

#offering h2 {
	background-color: #f07444;
	font-size:16px;
	font-weight:bold;
	padding:16px 55px;
    margin: 0;
    color: white;
	text-shadow:2px 2px 0 #dc4f2f;
	max-width: 1170px;
}

#offering ul{
    padding:30px 55px;
	margin:-2px 0 0 0px;
	list-style-type:none;
	overflow:hidden;
	background-color: #fff;
	max-width: 1170px;
}

#offering li {
    margin-bottom:15px;
}

#offering li a {
    color:#000;
    text-decoration: underline;

}

#offering dl{
    padding:30px 55px;
	margin:-2px 0 0 0px;
	list-style-type:none;
	overflow:hidden;
	background-color: #fff;
	max-width: 1170px;
}

#offering dt {
    float: left;
	width:100px;
}


#offering dd {
     padding-left:100px;
}
#offering dd a {
    color:#000;
    text-decoration: underline;

}



#offering dd {
    margin-bottom:12px;
}

#offering dd a {
    color:#000;
    text-decoration: underline;

}



dl.sessionshash {
    padding:10px;
	margin:-2px 0 0 0px;
	list-style-type:none;
	overflow:hidden;
	max-width: 1170px;
}

dl.sessionshash dt {
    float: left;
	width:380px;
	line-height:1.4;
}


dl.sessionshash dd {
     padding-left:380px;
	 line-height:1.4;
}
dl.sessionshash dd a {
    text-decoration: underline;
	padding:0 5px;

}


span.iconNew {
	background:#f07444;
	font-size:12px;
	color:#fff;
	padding:2px 5px;
	text-align:center;
	width:40px;
	margin-right:0.7em;
	text-decoration: none;
}


span.iconEnd {
	background:#e8e8e8;
	font-size:12px;
	color:#333333;
	padding:2px 5px;
	text-align:center;
	width:40px;
	margin-right:0.7em;
	text-decoration: none;
}

span.iconNow {
	background:#78ab9a;
	font-size:12px;
	color:#fff;
	padding:2px 5px;
	text-align:center;
	width:40px;
	margin-right:0.7em;
	text-decoration: none;
}

#codeiq {
  border-radius: 10px;
  border: 3px solid #78ab9a;
  margin: 3em auto 1em;
  padding: 1em;
  width:48%;
   margin: 3em auto 1em ;
   float:left;
}
#codeiq h2 {
  margin: 0 0 0.5em;
  color: #78ab9a;
  font-weight: bold;
  font-size:20px;
  border-bottom: 2px solid #78ab9a;
}
#codeiq p {
  overflow: hidden;
  color: black;
}
.donuts {
  float: left;
  width: 40%;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#codeiq ul {
  list-style: none;
  margin-left: 40%;
  padding: 0;
}
#codeiq ul li {
  margin: 0.1em 0;
}
#codeiq ul li a {
  /*padding-left: 1em;*/
}
#codeiq p {
  margin-left: 40%;
}





#redbull {
  border-radius: 10px;
  border: 3px solid #78ab9a;
  margin: 3em auto 1em;
  padding: 1em;
  width:48%;
  float:right;
  margin: 3em auto 1em ;
}
#redbull h2 {
  margin: 0 0 0.5em;
  color: ##f36519;
  font-size:20px;
  font-weight: bold;
  border-bottom: 2px solid #78ab9a;
}
#redbull p {
  overflow: hidden;
  color: black;
}

.attention {
	font-size:11px;
	color:#c4181f;
}
.redbull {
  float: left;
  width: 40%;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#redbull div  {
  clear:both;
}
.qrRedBull {
	float:right;
	margin-left:10px;
	width: 78px;
height: 78px;
}



.memo {
	font-size:12px;
}

@media(max-width:767px){
	
#codeiq {
	float:none;
  width:100%;
}	

#redbull {
	float:none;
  width:100%;
  

}


@media (max-width: 480px) {
  #offering dt {
    float: none;
  }
  #offering dd {
    padding: 0;
  }
  #offering dl {
    padding: 1em;
  }
  
    dl.sessionshash dt {
    float: none;
}


dl.sessionshash dd {
     padding: 0;
}
}