
/* ==========================================================================
   icon
   ========================================================================== */
@font-face {
  font-family: 'icon';
  src: url('../fonts/icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@each $icon in $icons {
  $key: nth( $icon, 1 );
  $value: nth( $icon, 2 );

  .conf2016s-icon-#{$key} {
    @extend %icon;

    &:before {
      content: $value;
    }
  }
}
