
// ==========================================================================
//  vars
// ==========================================================================
$fontSansSerif : '\30D2\30E9\30AE\30CE\89D2\30B4\20\50\72\6F\20\57\33', 'Hiragino Kaku Gothic Pro', '\30E1\30A4\30EA\30AA', Meiryo, '\FF2D\FF33\20\FF30\30B4\30B7\30C3\30AF', sans-serif;

$font-size-desktop: 16px;
$font-size-middlescreen: 16px;
$font-size-smallscreen: 14px;

$pageMaxWidth: 1200px;
$breakpoint-base   : 980px - 1;
$breakpoint-middle : 768px - 1;
$breakpoint-small  : 640px - 1;
