html, body {
	height: 100%;
}
body {
	margin: 0;
	background-color: #f3f5c1;
	font-family: sans-serif;
}

h1 {
	margin: 0;
	padding: 0;
}
h1 img {
	width: 100%;
}

.main_visual {
	/*background: url(../img/main_visual.jpg) center no-repeat;*/
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.illustration, .copyright {
	position: fixed;
	bottom: 1em;
	right: 1em;
	font-weight: bold;
	font-size: 70%;
	font-family: 'Delius', cursive;
}
.copyright {
	left: 1em;
	right: auto;
}