<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="ja" id="ja" class="ie6" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]>    <html lang="ja" id="ja" class="ie7" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>    <html lang="ja" id="ja" class="ie8" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ja" id="ja" xmlns:og="http://ogp.me/ns#"> <!--<![endif]-->
  <head>
  <meta charset="utf-8">
  <meta name="description" content="Chrome+HTML5 Conference開催！　「HTML5について勉強したいけど、どこから始めればよいか分からない」・・・そんなディベロッパー、マークアップエンジニア、デザイナーの皆さんに向けて、HTML5 Developers JPとグーグル株式会社の共催で、HTML5をイチから学べるイベントを2011/8/21（日）に開催いたします。奮ってご参加下さい！" >
  <meta name="keywords" content="Chrome+HTML5 Conference" >
  <meta property="og:title" content="Chrome+HTML5 Conference 開催のご案内" >
  <meta property="og:type" content="article" >
  <meta property="og:url" content="http://events.html5-developers.jp/conference/2011/08/" >
  <meta property="og:site_name" content="HTML5 Developers JP" >
  <meta property="og:description"  content="Chrome+HTML5 Conference開催！　「HTML5について勉強したいけど、どこから始めればよいか分からない」・・・そんなディベロッパー、マークアップエンジニア、デザイナーの皆さんに向けて、HTML5 Developers JPとグーグル株式会社の共催で、HTML5をイチから学べるイベントを2011/8/21（日）に開催いたします。奮ってご参加下さい！" >
  <link rel="shortcut icon" href="images/HTML5_Badge_32.png">
  <title>Chrome+HTML5 Conference</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/new.css">
  <script src="/javascripts/jquery-1.6.2.min.js"></script>
  <style>
  #chrome+.html5 {
    display: none;
  }

  .ie6 .html5 {
    display: none;
  }
  .ie7 .html5 {
    display: none;
  }
  </style>
</head>
<body>
<div class="g-doc-1024">

  <div id="header">

    <div class="g-section">
      <h1><a href="http://events.html5-developers.jp/conference/2011/08/" title="Chrome + HTML5 Conference ホーム">Chrome+HTML5 Conference</a></h1>
      <p class="event-description">グーグル株式会社 / HTML5 Developers JP 共催<br>
      Chrome+HTML5 Conference<br>
      〜第20回記念HTML5とか勉強会スペシャル〜<br>
      </p>
    </div>

    <div id="subheader" class="g-section">
      <p id="tagline">
        Chrome+HTML5 Conference
      </p>
    </div>
    <ul id="nav">
      <li {% ifequal page 'index' %} class="sel" {% endifequal %}><a href="index.html">ホーム</a></li>
      <li {% ifequal page 'program' %} class="sel" {% endifequal %}><a href="program.html">プログラム</a></li>
      <li {% ifequal page 'nonparticipant' %} class="sel" {% endifequal %}><a href="nonparticipant.html">お越しになれない皆様へ</a></li>
      <li {% ifequal page 'faq' %} class="sel" {% endifequal %}><a href="faq.html">FAQ</a></li>
    </ul>

  </div>

<div class="g-section g-tpl-180-alt">
  <div class="content">
  <div style="text-align:right;margin:0 0 1em 0;padding:0" class="social">
    <!-- Place this tag where you want the +1 button to render -->
    <g:plusone size="medium" href="http://events.html5-developers.jp/conference/2011/08/"></g:plusone>

    <!-- Place this tag after the last plusone tag -->
    <script type="text/javascript">
      window.___gcfg = {lang: 'ja'};

(function() {
 var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
 po.src = 'https://apis.google.com/js/plusone.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>
<iframe src="http://www.facebook.com/plugins/like.php?app_id=143107845770868&amp;href=http%3A%2F%2Fevents.html5-developers.jp%2Fconference%2F2011%2F08%2F&amp;send=false&amp;layout=button_count&amp;width=140&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:140px; height:21px;" allowTransparency="true"></iframe>
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://events.html5-developers.jp/conference/2011/08/" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>

    {% block content %}{% endblock %}
  </div>
</div>


<div class="g-section footer">
    <span class="links">&copy; 2011 グーグル株式会社, HTML5 Developers JP.</span>
    <!--
    <img src="/images/footerlogo.png" alt="Chrome + HTML5 Conference" class="footerlogo" />
    -->
    <div class=footerlogo style="text-align:right">#chrome+.html5</div>
</div>

<div id=chrome></div>
<div class="html5">secret-present.html (秘密のプレゼントはこちらから)</div>

</div>


<script>

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4956033-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
