<h2>Chrome+HTML5 Conference よくある質問（FAQ）</h2>

<dl class="faq">
<dt>このイベントの追加情報はありますか？</dt>
<dd>イベントに関する情報は本ウェブサイトでご確認ください。また、「<a href="http://groups.google.com/group/html5-developers-jp" target="_blank">HTML5 Developers JP</a>」を通じて、随時、本イベントの情報をご案内いたします。</dd>
<dt>このイベントの参加は有料ですか？</dt>
<dd>無料です。</dd>
<dt>参加申込みは締め切られたのですか？</dt>
<dd>8 月 3 日(水) 24 時をもって参加申し込みを締め切らせていただきました。多数の応募をいただきありがとうございます。</dd>
<dt>イベントにはどんな服装で行けばよいですか？</dt>
<dd>普段の服装でかまいません。お気軽にご参加ください。</dd>
<dt>ランチはありますか？</dt>
<dd>イベント当日は主催者側でランチを用意する予定です。</dd>
<dt>飲食物の持ち込みはできますか？</dt>
<dd>はい、可能です。ただし、持ち込みにより発生したゴミは各自お持ち帰り下さい。</dd>
<dt>会場内に飲み物の自動販売機はありますか？</dt>
<dd>いいえ、ご利用いただける自動販売機はございません。飲み物が必要な方は各自お持ちください。なお、当日はペットボトルのミネラルウォーターを配布する予定です。</dd>
<dt>参加証が届いていません。</dt>
<dd>8 月 11 日（月）に、ご参加いただける皆様には事前登録いただいたメールアドレスに、QRコードが印字された参加証または招待状をお送りしております。迷惑メールフィルタ機能によって、メールが届かなかったり、届いたメールが自動的に迷惑メールフォルダやごみ箱フォルダに入ってしまうケースがあるようです。「迷惑メールフォルダ」や「削除済みフォルダ」などをご確認ください。</dd>
<dt>参加証にQRコードが印字されているのですが。</dt>
<dd>「参加証」または「招待状」には、QRコードが印字されています。これは受付時に必要となりますので、事前にはっきりと印字されていることをご確認ください。</dd>
<dt>ハンズオンに申し込みしたのですが、参加可能かどうかが分りません。</dt>
<dd>今回、ハンズオンに参加可能の応募者の方のみ、参加証に受講可能セッションの名称を記載させていただきました。「ハンズオンもご希望していただき、真にありがとうございます。～」といった始まりで記載しております。参加証をご確認ください。</dd>
<dt>ハンズオン参加にあたり、携行するPCに事前にインストールしておくソフトウェアはありますか？OSに制限はありますか？</dt>
<dd>Chromeの最新版（バージョン13）がインストールされていれば、どのOSでも結構です。コーディングはテキストエディターで行います。当日は、使い慣れたエディターをご利用ください。（OS付属のエディターは、使われないことをおすすめします。Windowsであれば、sakuraEditor・CresentEve・xyzzyなど、MacであればCotEditor・miなどがあります）</dd>
<dt>参加証はプリントアウトしたものでなければいけませんか？</dt>
<dd>当日の受付をスムーズに行うため、できるだけプリントアプトしたものをお持ちください。ただし、どうしても印刷が難しいという方は、受付にて、携帯電話や携帯端末等で参加証を提示してください。</dd>
<dt>予定が変わって参加できなくなったのですが、キャンセルはどうすればよいですか？</dt>
<dd>&#x65;&#x76;&#x65;&#x6E;&#x74;&#x2B;&#x63;&#x61;&#x6E;&#x63;&#x65;&#x6C;&#x40;&#x68;&#x74;&#x6D;&#x6C;&#x35;&#x2D;&#x64;&#x65;&#x76;&#x65;&#x6C;&#x6F;&#x70;&#x65;&#x72;&#x2E;&#x6A;&#x70; まで、メールでご連絡下さい。件名を「<strong class="target">Chrome+HTML5  Conferenceキャンセル</strong>」、本文に申込時に登録いただいた「<strong class="target">お名前</strong>」と「<strong class="target">メールアドレス</strong>」のみを記載した、簡単な内容で構いません。</dd>
<dt>キャンセルした後にまた予定が変わって参加できることになりました。どうすればよいですか？</dt>
<dd>キャンセルのご連絡をいただいた段階で登録情報を消去してしまいますので、ご参加いただくことはできません。</dd>
<dt>当日キャンセルの場合の連絡はどうすればよいですか？</dt>
<dd>当日キャンセルの場合、特にご連絡いただく必要はありません。</dd>
<dt>参加できない旨の連絡をもらいましたが、キャンセルが出た場合に繰り上がりで参加できるのでしょうか？</dt>
<dd>今回キャンセル発生時の繰り上がりはありません。</dd>
<dt>本人が当日参加できなくなったのですが、代理が参加してもいいですか？</dt>
<dd>ご参加いただけるのは、参加証に記載されたご本人様のみです。ご本人様以外の参加はご遠慮下さい。</dd>
<dt>質問はどこにすればよいですか？</dt>
<dd>質問は、&#x65;&#x76;&#x65;&#x6E;&#x74;&#x40;&#x68;&#x74;&#x6D;&#x6C;&#x35;&#x2D;&#x64;&#x65;&#x76;&#x65;&#x6C;&#x6F;&#x70;&#x65;&#x72;&#x2E;&#x6A;&#x70; で受け付けております。</dd>
<dt>何を持っていけばよいですか？</dt>
<dd>プリントアウトした参加証または招待状を必ずお持ちください。<br/>
また、ハンズオンに参加される方は忘れずにノートパソコンをご持参下さい。</dd>
<dt>会場の場所が分かりません。</dt>
<dd>会場は六本木ヒルズ森タワーとなります。詳しくは、
<a href="http://www.roppongihills.com/guide/access/" target="_blank">http://www.roppongihills.com/guide/access/</a>をご覧ください。
</dd>
<dt>締め切りを過ぎての申し込みや申し込みなしでの当日参加は可能ですか？</dt>
<dd>締め切り以降の申し込み、申し込みなしの参加はお断りさせていただきます。</dd>
<dt>送られてきたメール（参加証）を消してしまいました。</dt>
<dd>8 月 19 日までに &#x65;&#x76;&#x65;&#x6E;&#x74;&#x40;&#x68;&#x74;&#x6D;&#x6C;&#x35;&#x2D;&#x64;&#x65;&#x76;&#x65;&#x6C;&#x6F;&#x70;&#x65;&#x72;&#x2E;&#x6A;&#x70; にご連絡ください。確認して再発行いたします。なお、参加証をお持ちいただかない場合、入場をお断りする場合がございますので、ご注意ください。</dd>
<dt>ハッシュタグは何ですか？</dt>
<dd>#html5j です。</dd>
</dl>
