<h2>Chrome+HTML5 Conference 開催のご案内</h2>

<div class=notify>
8/3(水)24時をもって参加申し込みを締め切らせていただきました。多数の応募頂きありがとうございます。抽選結果は別途メールにて連絡いたします。
</div>

<p>
最近、スマートフォンサイトを中心に活用事例が目立つようになり、HTML5への注目は日々高まっています。<br>
その一方、<br>
<em class="voice">「HTML5について勉強したいけど、どこから始めればよいか分からない」</em><br>
という方も少なくないのではないでしょうか？</p>
<p>HTML5 Developers JPでは、そんなディベロッパーの皆さんに向けて、<br>
HTML5を学んで頂くための勉強会<em class="evt">「HTML5とか勉強会」</em>をこれまで毎月開催してきました。その回数は既に19回に及びます。<br>
今回はそんな<em class="evt">「HTML5とか勉強会」</em>の第20回を記念し、HTML5 Developers JPとグーグル株式会社の共催で<br>
2011年8月21日、<em class="cnf">&quot;Chrome+HTML5 Conference&quot;</em>を開催いたします。
</p>

<p>
本イベントは<strong class="target">ディベロッパーの方のみでなく、HTML5初心者～中級のマークアップエンジニア・デザイナーの方も対象</strong>としています。<br>
HTML5をイチから学べる2トラック・合計12のセッションと、2つのハンズオンを用意ました。</p>
<p>
「普段の勉強会は男性ばかりで参加しづらい・・・」という<strong class="target">女性の方にもお気軽に参加頂けるよう、女性枠も用意</strong>しています。また、LT枠（懇親会時に開催）も併せて用意しています（LTについては、別途周知させていただきます）。なお、200名という限られた会場のキャパシティを考慮し、<em class="choice">先着順ではなく抽選制</em>とさせて頂いた上、参加できなかった方のためにYouTubeを使ったイベントのライブ配信も計画しています。
</p>

<p>
奮ってご参加下さい！
</p>

<h2>カンファレンス概要</h2>

<dl itemscope itemtype="http://schema.org/Event">
  <meta itemprop="name" content="Chrome+HTML5 Conference">
  <meta itemprop="startDate" content="2011-08-21T09:00+09">
  <meta itemprop="endDate" content="2011-08-21T18:30+09">
  <dt>開催日</dt><dd>8月21日（日）9:00 - 18:30</dd>
  <dt>主催</dt><dd>グーグル株式会社、HTML5 Developers JP</dd>
  <dt>対象者</dt><dd>HTML5初心者〜中級のマークアップエンジニア、デザイナー、プログラマー</dd>
  <dt>定員</dt><dd>200名</dd>
  <dt>会場</dt><dd itemprop="location" itemscope itemtype="http://schema.org/Place"><span itemprop="name">グーグル株式会社 東京オフィス</span>（<a itemprop="url" href="http://www.roppongihills.com/guide/access/" target="_blank">六本木ヒルズ内</a>)</dd>
  <dt>参加費</dt><dd>無料</dd>
</dl>
