<h2>イベントに直接お越しになれない皆様へ</h2>

<p>
  <a target="_blank" href="https://groups.google.com/forum/?hl=ja#!forum/html5-developers-jp">HTML5 Developers JP</a>にご参加の皆様、この度は本イベントへの多数のご応募、大変ありがとうございました。<br>
  私たち「HTML5とか勉強会」スタッフは、本イベントに関心のある全ての方にご参加いただきたいと考えています。<br>
  しかし会場のキャパシティが限られていること、スタッフの主な活動地域が東京都内に限られていることなどから、多くの方々に参加を見合わせていただかなくてはならないのが実情です。<br>
  私たちは、そうした状況を少しでも改善し、出来る限り多くの皆様にコンテンツをお届けすべく、以下のような取り組みを行うことにしました。
</p>
<ul class="indent">
  <li><a href="#facebook">Facebookページにおける質問・ディスカッション</a></li>
  <li><a href="#live">YouTubeによるライブストリーミング</a></li>
  <li><a href="#pv">パブリックビューイング（公式）</a></li>
  <li><a href="#pv-unofficial">パブリックビューイング（非公式）</a></li>
</ul>

<h3 id="facebook">Facebookページにおける質問・ディスカッション</h3>
<p>
  HTML5 Developers JPでは、<a target="_blank" href="http://www.facebook.com/html5j">Facebookページ</a>の運用も実験的に始めています。<br />
  今回のイベントではこちらのFacebookページを用いて、セッションを聞いている中で生じたHTML5に関する質問を広く受け付けたいと思います。<br />
  登壇したスピーカーも含め、全国のHTML5エキスパートがあなたの質問にお答えします！（たぶん）<br />
  今回のイベントに関心のある全ての皆様は、ぜひFacebookページに「いいね！」を表明していただいて、ディスカッションに参加してください。
</p>

<h3 id="live">YouTubeによるライブストリーミング</h3>
<p>
  YouTubeによるライブストリーミング

  遠隔地からでもイベントに参加していただけるよう、以下のURLでネット配信を行います！
  <ul class="indent">
    <li><a href="http://youtu.be/F400tKm1j8s">デザイナーズトラック</a>
    <li><a href="http://youtu.be/ULLYD3kyynI">プログラマーズトラック</a>
  </ul>
  ぜひこれらのチャンネルで、このイベントにご参加ください。<br>
  <small>
    なお配信されたコンテンツはアーカイブされる予定ですので、イベント終了後もご覧になっていただくことが可能です。<br>
    ただし、機材トラブル等によりライブ配信が行われない、アーカイブされない場合もございますので、その点はどうかご了承ください。
  </small>
</p>
<h3 id="pv">パブリックビューイング（公式）</h3>
<p>
  地方にお住いの方々にもコンテンツをお届けできるよう、地方のHTML5コミュニティに呼びかけ、「パブリックビューイング」イベントを開催していただけることになりました。<br />
  パブリックビューイングとは、一言で言えば「ライブ配信をみんなで一緒に見る」というイベントのこと。<br />
  一人で何時間もライブ視聴するのは大変だけど、みんなで見れば怖くない！？<br />
</p>
<p>
  現時点では、以下の地方コミュニティに呼びかけを行い、賛同を得ています。各パブリックビューイングについての詳細は、それぞれのコミュニティにお任せしてありますので、お問い合わせは各コミュニティの方までお寄せください。また、ここに挙げたコミュニティ以外にも、パブリックビューイングを企画したいという方がいらっしゃいましたら、<a href="mailto:event@html5-developers.jp">event@html5-developers.jp</a>までお気軽にご連絡ください。

  <ul class="indent">
    <li><b><a target="_blank" href="http://www.html5-west.jp/">HTML5-WEST.jp</a>&nbsp;|&nbsp;<a target="_blank" href="http://osaka.cssnite.jp/">CSS Nite in OSAKA</a></b> - 申し込み（<a target="_blank" href="http://kokucheese.com/event/index/15463/">デザイナートラック</a> | <a target="_blank" href="http://kokucheese.com/event/index/15464/">プログラマートラック</a>）
    <li><b><a target="_blank" href="http://twitter.com/#!/android_fukui">日本Androidの会 福井支部</a>&nbsp;|&nbsp;<a target="_blank" href="https://groups.google.com/forum/#!forum/hokuriku_engineer">北陸エンジニアグループ</a></b>（福井での開催） - <a target="_blank" href="https://www.facebook.com/event.php?eid=228102447212993">Facebook上で参加申し込み</a>
    <li><b><a target="_blank" href="https://groups.google.com/forum/#!forum/hokuriku_engineer">北陸エンジニアグループ</a></b>（金沢での開催） - <a target="_blank" href="https://www.facebook.com/event.php?eid=207662719289663">Facebook上で参加申し込み</a>
    <li><b><a target="_blank" href="https://html5fukuoka.wiki.zoho.com/">HTML5+α＠福岡</a></b> - <a target="_blank" href="http://www.facebook.com/event.php?eid=257510967611914">Facebook上で参加申し込み</a>
    <li><b><a target="_blank" href="http://groups.google.com/group/tokai-gtug/">東海GTUG</a>&nbsp;|&nbsp;<a href="http://groups.google.com/group/html5-tokai">HTML5東海</a></b> - <a target="_blank" href="http://atnd.org/events/19024">参加申し込み（ATND）</a>
  </ul>
</p>
<h3 id="pv-unofficial">パブリックビューイング（非公式）</h3>
<p>
  上記の地方コミュニティによるもの以外にも、パブリックビューイングの企画、実施をしてくださる方を応援したいと考えています。<br>
  おすすめはGoogle+を使った「オンライン・パブリックビューイング」！<br>
  方法はいたって簡単。<br>
  <strong>誰かのビデオチャットに参加する</strong>場合は、自分のGoogle+のストリームに、
  <strong>「○○さんはビデオチャットルームにいます。[このビデオチャットルームに参加]」</strong>
  と表示されていたら、そのボタンをクリックするだけ！ <strong>※注1</strong>
</p>
<p>
  <strong>自分でパブリックビューイングを始める</strong>場合は、まずビデオチャットルームを開設します。  <strong>※注1</strong>
</p>
  <ol class="indent">
    <li>Google+の右下にあるビデオチャットボタンを押す
    <li>招待文章を出したいサークルを選択して、[ビデオチャットに参加]を押す
      あなたのGoogle+のストリームに流れますので、それに興味をもった方が参加してきます。
  </ol>
<p>
  そして、そのチャットルームで参加している方と今回のYoutubeLiveの動画を一緒に見ることができます。
  </p>
  <ol class="indent">
    <li>Youtubeボタンを押す
    <li>右上の[検索]に下記のYoutubeIDのどちらかを入力し検索ボタンを押す
      <ul class="indent">
        　<li>F400tKm1j8s &lt;- デザイナーズトラック
          <li>ULLYD3kyynI &lt;- プログラマーズトラック
      </ul>
    <li>対象のLiveがヒットするのでそれを押す
  </ol>
<p>
  この３ステップだけで、チャットルームの参加者と一緒にこのイベントに参加できます！
<p>
  ※不明点は[<a href="http://www.google.com/support/+/bin/static.py?page=guide.cs&guide=1257349&answer=1216368">ビデオチャットルームで YouTube 動画を見る</a>]を参考ください。<br>
  ※開始されるまでに非常に時間がかかる場合があります<br>
  ※音声の出力は自動でミュートとなりますので[話す]ボタンを押して会話してください。<br>
</p>
<p>
  ※注1 チャットルームを開催及び参加するためには、プラグインのインストールが必要です。下記を参照してください。
  <a href="http://www.google.com/support/+/bin/static.py?page=guide.cs&guide=1257349&answer=1340083">ビデオチャットルーム スタート ガイド</a>
</p>
  <!--



      上記の地方コミュニティによるもの以外にも、パブリックビューイングの企画、実施をしてくださる方を応援したいと考えています。<br>
      おすすめはGoogle+を使った「オンライン・パブリックビューイング」。Google+のビデオチャットルームに備え付けられている「YouTube」ボタンをクリックして、<a target="_blank" href="http://www.youtube.com/user/HTML5DevelopersJP">HTML5 Developers JP専用のチャンネル</a>にアクセスしてみてください。「ライブ配信をみんなで一緒に見る」と言う体験を、オンライン上で、いとも簡単に実現できます！（ひとつのチャットルームあたり、最大10人まで）<br>
      <span style="color: red;">ここに掲載した手順をより詳細化して、イベント当日までにアップデートする予定です。</span>
      </p>
      <div align="center">
        <img src="/images/onlinepv.png">
      </div>-->
<p>
  ぜひお友達を誘って、一緒にイベントを楽しんでいただければと思います。<br>
  また、今回のパブリックビューイングを通じて、HTML5に興味のある方々と知り合いになってみてはいかがでしょうか？<br>
  一緒に視聴してくれる仲間探しを手助けするためにも、「パブリックビューイングを実施されている方のプロフィール」や「ビデオチャットルームのURL」を<a target="_blank" href="http://twitter.com/#!/search/%23html5j">Twitter（#html5j）</a>や<a target="_blank" href="#facebook">Facebookページ</a>でお知らせいただければ、スタッフの方でも出来る限りPRのお手伝いをさせて頂きます。
</p>
