<h2>Chrome + HTML5 Conference 参加申し込み</h2>

<h3>申し込み受付期間：8/1(月)〜3(水）</h3>


<h3>応募のキャンセル：</h3>
<p>
kensaku.komatsu+cancel@gmail.com まで、メールでご連絡下さい。件名を「Chrome+HTML5 Conferenceキャンセル」、本文にお名前のみを記載した、簡単な内容でかまいません。
</p>

{% if regist %}

<p>
会場のセキュリティの都合上、本名と勤務先（学生の方は学校名）およびメールアドレスをご入力いただく必要があります。<br>
定員は200名となりますので、応募者多数の場合は、抽選とさせていただきます（抽選結果は、別途メールにて連絡さしあげます）<br>
</p>


<p class=red>
<b>{{ error }}</b>
</p>
<form method="post" action="">
<h3>名前：<span class=required>(必須)</span></h3>
<input type=text name=name value="{{ name }}" required>

<h3>e-mail：<span class=required>(必須)</span></h3>
<input type=email name=email value="{{ email }}" required>

<h3>会社名/学校名 <span class=required>(必須)</span></h3>
<input type=text name=belonging value="{{ belonging }}"required>

<h3>職種<span class=required>(必須)</span></h3>
<input type=checkbox name=category value="markup" {% if category.markup %}checked{% endif %}>
マークアップエンジニア
<input type=checkbox name=category value="designer" {% if category.markup %}checked{% endif %}>
デザイナー
<input type=checkbox name=category value="programmer" {% if category.markup %}checked{% endif %}>
プログラマー
<input type=checkbox name=category value="other" {% if category.markup %}checked{% endif %}>
その他

<h3>性別 <span class=required>(必須)</span></h3>
<input type=radio name=sex value="male" checked>
男性
<input type=radio name=sex value="female">
女性

<h3>参加したいトラック<span class=required>(必須)</span></h3>
<input type=checkbox name=track value="track_a" {% if track.track_a %}checked{% endif %}>
デザイナートラック
<input type=checkbox name=track value="track_b" {% if track.track_b %}checked{% endif %}>
プログラマートラック
<input type=checkbox id=check_handson name=track value="handson" {% if track.track_b %}checked{% endif %}>
ハンズオン

<div id=input_handson>
<h3>ハンズオン（予約制）はどちらに参加しますか？（上で、ハンズオンをチェックされた方は入力してください）</h3>
<input type=checkbox name=handson value="svg">
羽田野さんの
<input type=checkbox name=handson value="css">
一條さんの
</div>



<h3>
懇親会には参加しますか？<span class=required>(必須)</span>
</h3>
<div class=gray>
懇親会の中でLTを開催します（軽い飲食物をご用意させていただく予定です)
</div>
<input type=radio name=lt value="yes" checked>
はい
<input type=radio name=lt value="no">
いいえ

<h3>
コメント
</h3>
<span class=gray>その他、何かございましたら、ご自由にご記入ください。</span>
<br>
<textarea name="comment">{% if comment %}{{ comment }}{% endif %}</textarea>
<br>

<h3>
Terms
</h3>
<input type=checkbox checked>以下のほげほげに同意する


<ul class=terms>
<li>勉強会の様子は写真および動画にて公開される可能性がありますので、予めご了承ください。</li>
<li>本イベントはグーグル株式会社とHTML5 Developers JPによって開催されますが、個人情報は HTML5 Developers JPにて取り扱います。入力された個人情報は、登録者本人の同意がない限り本イベントの運営のみに利用し、他の目的での利用およびイベント運営に関わる第三者機関以外への開示、提供をすることはありません。</li>
</ul>




<input type=hidden name=confirm value="no">
<input type=submit>
</form>

{% endif %}