<h2>Chrome+HTML5 Conference隠しページへようこそ！</h2>

<p>
  <strong>おめでとうございます！</strong>このページを見つけられたあなたには、秘密のプレゼントを差し上げます。<br>
  ここで差し上げるプレゼントは、<a href="http://komachu.sakura.ne.jp/0thgallery/detail.html#chara,116">第0回 HTML5プログラミング＆クリエイティブ・コンテストのキャラクター部門で最優秀賞を取った作品</a>が、投稿してくださった<a href="http://goo.gl/YOQAa">森川聡子さん</a>ご自身の手で清書されたものです。今後アニメ化などもありうるかも！？<br><br>
  <a href="/images/HTML5Rangers.zip">HTML5レンジャー</a><br><br>
  入手したことをTwitterなどで自慢しちゃってください！<br>
  ただしその際、このページのURLを直接人に教えちゃうなんて無粋な真似は、くれぐれもしないように！<br>
  あくまでヒントだけ、お願いします！（「イベント告知サイトのどこかにあるCSSセレクタがヒント」とか・・）
</p>
