<section>
  <h2 class="page-header">ニュース・レポート</h2>
  <p>
    イベント終了後、このページには<b>公式レポーター</b>が執筆した記事を含め、イベントに関する記事へのリンクを集めていく予定です。
  </p>
  <p>
    イベント終了後、ご自身でブログ記事などを執筆して下さった場合は、ハッシュタグ #html5j で呟いてくだされば、可能な限り拾ってリンクを追加します。
  </p>
  <section>
    <h3>公式レポーター一覧</h3>
    <p>
      以下の公式レポーターの皆さんには、ITmediaさんへのニュース記事寄稿やブログへのレポート記事執筆を通じて、イベントを側面から盛り上げていただきます。
    </p>
    <p>
      以下、50音順で掲載しています。
    </p>
    <section class="reporters">
      <table class="table table-bordered">
        {% for reporter in reporters %}
        <tr><td width="100px" style="text-align:center;">
            {%if reporter.icon %}<img src="/images/201209/reporters/{{reporter.icon}}">{% endif %}
          </td>
          <td>
            <dl>
              <dt>{{ reporter.name }}</dt>
              <dd>{{ reporter.description|escape }}</dd>
            </dl>
          </td>
        </tr>
        {% endfor %}
      </table>
    </section>
  </section>
  <section>
    <h3>イベントに関するニュース・レポートへのリンク</h3>
    <ul>
      <li>
        <a href="http://gihyo.jp/news/info/2012/08/1401">9/8開催「HTML5 Conference 2012」応募開始から30時間で定員1000人が満員に</a> - gihyo.jp
      </li>
      <li>
        <a href="http://togetter.com/li/369827">togetter まとめ（全体）</a> - Fumiさん
      </li>
      <li>
        <a href="http://togetter.com/li/369833">togetter まとめ（ホール）</a> - Fumiさん
      </li>
      <li>
        <a href="http://togetter.com/li/369834">togetter まとめ（ルームA）</a> - Fumiさん
      </li>
      <li>
        <a href="http://togetter.com/li/369836">togetter まとめ（ルームB）</a> - Fumiさん
      </li>
      <li>
        <a href="http://togetter.com/li/369837">togetter まとめ（ルームC）</a> - Fumiさん
      </li>
      <li>
        <a href="http://stocker.jp/diary/html5-conference-2012/">HTML5カンファレンス2012の資料まとめ</a> - Stocker.jp
      </li>
      <li>
        <a href="https://plus.google.com/events/ccp3piflrm71nj7toc3n0e0lgag">HTML5 Conference 2012</a> - Google+
      </li>
    </ul>
  </section>
</section>
