<section class="reports">
	<h2>ホールセッション・イラストレポート by 清水さん</h2>
	<p>
		公式ライターの清水さんが、ホールセッションをメインに素敵なイラストレポートを！！(清水さんの<a href="http://4mimimizu2012.hatenablog.com/entry/2012/09/16/220446" target="_blank">ブログエントリーはこちら</a>)<br>
		通常のレポートではなかなか伝えることが難しい当日の雰囲気をイラストで上手く表現されており、HTML5に詳しくない方でも楽しんで読めると思います。<br>
		あまりにも素晴らしいので、清水さんにお願いしてイベントサイトにも再掲させていただきました。是非、当日の雰囲気を感じてみてください！！
	</p>
	<section>
		<h3>基調講演</h3>
		<p>及川 卓也  (グーグル株式会社) / 白石 俊平 (株式会社シーエー・モバイル)</p>
		<p class="shimizu-img">
			<img src="/images/201209/report/shimizu0.jpg"><br>
			<img src="/images/201209/report/shimizu1.jpg"><br>
		</p>
	</section>
	<section>
		<h3>HTMLとかCSSとかAPIとか -2012秋編-</h3>
		<p>矢倉 眞隆 (株式会社 ミツエーリンクス)</p>
		<p class="shimizu-img">
			<img src="/images/201209/report/shimizu2.jpg"><br>
		</p>
	</section>
	<section>
		<h3>実践Sass</h3>
			<p>
				上村 光星 (NHN Japan 株式会社) / 富田 梓 (NHN Japan 株式会社)
			</p>
		<p class="shimizu-img">
			<img src="/images/201209/report/shimizu3.jpg"><br>
		</p>
	</section>
	<section>
		<h3>次世代Web技術を切り開くゲーム開発者たち</h3>
		<p>
 秋葉 秀樹 (フリーランス) / 村岡 正和 (バスタイムフィッシュ代表/HTML5-WEST.jp) / 城戸 総史 (株式会社ディー・エヌ・エー) / 坂本 一樹 (グリー株式会社) / 清水 亮 (株式会社ユビキタスエンターテインメント実践Sass /上村 光星 (NHN Japan 株式会社) / 富田 梓 (NHN Japan 株式会社)
		</p>
		<p class="shimizu-img">
			<img src="/images/201209/report/shimizu4.jpg"><br>
			<img src="/images/201209/report/shimizu5.jpg"><br>
			<img src="/images/201209/report/shimizu6.jpg"><br>
			<img src="/images/201209/report/shimizu7.jpg"><br>
			<img src="/images/201209/report/shimizu8.jpg"><br>
			<img src="/images/201209/report/shimizu9.jpg"><br>
			<img src="/images/201209/report/shimizu10.jpg"><br>
			<img src="/images/201209/report/shimizu11.jpg"><br>
		</p>
	</section>
	<section>
		<h3>スペシャルセッション</h3>
		<p class="shimizu-img">
			<img src="/images/201209/report/shimizu12.jpg"><br>
		</p>
	</section>

</section>