<section>
  <h2 class="page-header">HTML5 Conference 2012 FAQs</h2>

<!-- 撮影系 -->
  <section style="margin-top: 2em">
    <h3>Q. 配信の予定はありますか？</h3>

    <p style="margin-top: 1em">はい。ホール、ルームA、ルームB、ルームCすべてのセッションにおいて、Ustreamによる配信を行う予定です。<br>また、確定はしておりませんが、他メディアからの配信も検討中です。
    <p>回線の問題など、諸事情により配信されないセッションが出てくる可能性もあります。ご了承ください。
  </section>
  <section style="margin-top: 2em">
    <h3>Q. 写真やビデオなど顔が写ってしまうことはありますか？</h3>

    <p style="margin-top: 1em">当日はメディアやスタッフによりビデオおよびカメラの撮影・配信が入ります。<br>この際、参加いただいた方の顔が映る可能性があります。ご了承ください。
  </section>

<!-- 飲食系 -->
    <section style="margin-top: 2em">
    <h3>Q. 会場での飲食はできますか？</h3>

    <p style="margin-top: 1em">講演会場内では飲食はできません。大会場（協生館）外のホールや、建物内での飲み物は可能です。<br>ただし、ゴミについては各自お持ち帰りください。
  </section>

    <section style="margin-top: 2em">
    <h3>Q. 昼食をとれるところは近くにありますか？</h3>

    <p style="margin-top: 1em">慶應大学内の食堂をご利用ください。
    <p>なお、当日参加者の方には、500円相当の食堂利用券をお渡しする予定です。
  </section>

    <section style="margin-top: 2em">
    <h3>Q. 飲み物を買えるところは近くにありますか？</h3>

    <p style="margin-top: 1em">会場の建物1Fの入口に、コンビニがございます。<br>また、大学構内や食堂に自動販売機がございますので、こちらをご利用ください。
  </section>

  <section style="margin-top: 2em">
    <h3>Q. 会場での喫煙は出来ますか？</h3>

    <p style="margin-top: 1em">申し訳ありませんが、会場建物内は禁煙となっています。<br>慶応大学キャンパス内に喫煙所がございますので、お手数をおかけしますがそちらでお願いします。
  </section>

<!-- セッション登録系 -->
  <section style="margin-top: 2em">
    <h3>Q. どのセッションを登録したか確認できますか？</h3>

    <p style="margin-top: 1em">下記の登録者専用サイトよりご確認ください。
    <p><a href="http://events.html5j.org/conference/2012/09/reg_program.html">http://events.html5j.org/conference/2012/09/reg_program.html</a>
  </section>

  <section style="margin-top: 2em">
    <h3>Q. 登録時に入れた希望セッションを変更できますか？</h3>

    <p style="margin-top: 1em">下記の登録者専用サイトより変更できます。
    <p><a href="http://events.html5j.org/conference/2012/09/reg_program.html">http://events.html5j.org/conference/2012/09/reg_program.html</a>
    <p>セッションを選択した後、画面下部のボタン（「参加登録する」）をクリックしてください。
  </section>

  <section style="margin-top: 2em">
    <h3>Q.予定が変わって参加できなくなったのですが、キャンセルはどうやったら出来ますか？</h3>

    <p style="margin-top: 1em">下記の登録者専用サイトの画面右上のボタン「参加をキャンセルする」からキャンセルできます。
    <p><a href="http://events.html5j.org/conference/2012/09/reg_program.html">http://events.html5j.org/conference/2012/09/reg_program.html</a>
  </section>

  <section style="margin-top: 2em">
    <h3>Q. 一度キャンセルしたのですが、再度いけるようになりました。再度参加することは出来ますか？</h3>

    <p style="margin-top: 1em">再度参加申し込みをお願いします。<br>ただし、定員に達している場合は参加申し込みできませんので、あらかじめご了承ください。
  </section>

  <section style="margin-top: 2em">
    <h3>Q. 本人が当日参加できなくなったのですが、代理が参加してもいいですか？</h3>

    <p style="margin-top: 1em">ご参加いただけるのは、参加証に記載されたご本人様のみです。ご本人様以外の参加はご遠慮下さい。
  </section>

  <section style="margin-top: 2em">
    <h3>Q. 質問はどこにすればよいですか？</h3>

    <p style="margin-top: 1em">本ページ下部の「お問い合わせフォーム」からお願いします。
  </section>

  <section style="margin-top: 2em">
    <h3>Q. 希望のセッションが満席で申し込むことができませんでした。登録していないセッションの立ち見はできますか？ </h3>

    <p style="margin-top: 1em">基本的には、入室をお断りしております。<br>当日の会場の状況次第ですが、あきらかに会場内に余裕があるようであれば入室可能です。
  </section>

<!-- 会場設備系 -->
  <section style="margin-top: 2em">
    <h3>Q. 会場内に参加者が使えるネットワークはありますか？</h3>

    <p style="margin-top: 1em">会場内では無線LANの提供を行う予定です。<br>
    つきましては、会場の無線機器と干渉してしまいますので、個人でのWi-Fi機器のご使用は控えていただけますようご協力お願いします。
  </section>

  <section style="margin-top: 2em">
    <h3>Q. 会場内に参加者が使える電源はありますか？</h3>

    <p style="margin-top: 1em">大ホール1階の各座席にて電源がご利用できます。（一部電源がない場合があります）<br>
    多目的教室1～3については若干数の電源を用意する予定です。
  </section>


<!-- その他 -->
  <section style="margin-top: 2em">
    <h3>Q. このイベントの追加情報はありますか？</h3>

    <p style="margin-top: 1em">イベントに関する情報は本ウェブサイトでご確認ください。<br>
    また、<a href="https://groups.google.com/forum/?fromgroups#!forum/html5-developers-jp" target="_blank">html5j.orgのメーリングリスト</a>を通じて、随時、本イベントの情報をご案内いたします。
  </section>

  <section style="margin-top: 2em">
    <h3>Q. このイベントの参加は有料ですか？</h3>

    <p style="margin-top: 1em">無料です。
  </section>

  <section style="margin-top: 2em">
    <h3>Q. 定員に達した場合、参加申し込みはできないのですか？</h3>

    <p style="margin-top: 1em">キャンセルがでた場合には、参加申し込みが可能になります。
  </section>

  <section style="margin-top: 2em">
    <h3>Q. イベントにはどんな服装で行けばよいですか？</h3>

    <p style="margin-top: 1em">普段の服装でかまいません。お気軽にご参加ください。
  </section>

  <section style="margin-top: 2em">
    <h3>Q. 当日受付には何が必要ですか？</h3>

    <p style="margin-top: 1em">登録受付/変更時にお送りしておりますメールが参加証となります。<br>
    プリントアウトしたもの、またはスマートフォンの画面を受付にて提示してください。受付にて確認いたします。
  </section>

  <section style="margin-top: 2em">
    <h3>Q. 何を持っていけばよいですか？</h3>

    <p style="margin-top: 1em">プリントアウトした参加証または招待状を必ずお持ちください。
  </section>

  <section style="margin-top: 2em">
    <h3>Q. 会場の場所がわかりません。</h3>

    <p style="margin-top: 1em">会場は慶応大学日吉キャンパス <a href="http://www.kcc.keio.ac.jp/access/index.html">協生館</a> (<a href="https://maps.google.co.jp/maps?q=%E7%A5%9E%E5%A5%88%E5%B7%9D%E7%9C%8C%E6%A8%AA%E6%B5%9C%E5%B8%82%E6%B8%AF%E5%8C%97%E5%8C%BA%E6%97%A5%E5%90%894-1-1&hl=ja&ie=UTF8&hnear=%E7%A5%9E%E5%A5%88%E5%B7%9D%E7%9C%8C%E6%A8%AA%E6%B5%9C%E5%B8%82%E6%B8%AF%E5%8C%97%E5%8C%BA%E6%97%A5%E5%90%89%EF%BC%94%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%91&t=v&z=16&brcurrent=3,0x60185f9e085d180f:0x4d1bd71c3b0520bd,0">神奈川県横浜市港北区日吉4-1-1</a>)になります。<br>
    最寄り駅は東急東横線の日吉駅です。
  </section>

  <section style="margin-top: 2em">
    <h3>Q. 申し込みなしでの当日参加は可能ですか？</h3>

    <p style="margin-top: 1em">申し込みなしの参加はお断りさせていただきます。
  </section>

  <section style="margin-top: 2em">
    <h3>Q. 送られてきたメール（参加証）を消してしまいました。</h3>

    <p style="margin-top: 1em">当日3日前（9/5）に、参加者の方にはリマインダーメールをお送りする予定でいますので、そちらをご利用ください。<br>それでも解決しない場合は、開催2日前（9/7）までに、本ページ下部のお問い合わせフォームからお問い合わせください。確認して、再発行いたします。
    <p>なお、参加証をお持ちいただかない場合、入場をお断りする場合がございますので、ご注意ください。
  </section>

  <section style="margin-top: 2em">
    <h3>Q. 参加証が届いていません</h3>

    <p style="margin-top: 1em">登録受付/変更時にメールにて参加証をお送りしていますが、8/11の応募開始時にアクセス集中によるシステムトラブルにてメールをお送り出来ていない方がいらっしゃいます。<br>後日、リマインダーメールとして再度お送りさせていただきますので、こちらをご確認ください。
  </section>

<!-- waiting
  <section style="margin-top: 2em">
    <h3>Q. ハッシュタグは何ですか？</h3>

    <p style="margin-top: 1em">#html5jです。
  </section>
 -->

  <section style="margin-top: 2em">
    <h3>Q. Twitterのイベント用アカウントはありますか？</h3>

    <p style="margin-top: 1em">主催コミュニティ(html5j.org)の<a href="https://twitter.com/html5j">アカウント</a>にて本イベントの情報もtweetしています。フォローされることをお薦めします。
  </section>

  <!--
  <section style="margin-top: 2em">
    <h3>Q. </h3>

    <p style="margin-top: 1em"> ...
    <p> ...
  </section>
  -->

</section>

<section class="well" style="margin-top: 3em">
  <h3>その他のお問い合わせ</h3>
  <p>ご不明な点がございましたら、下記のフォームからお問い合わせください。</p>
  <p><a class="btn btn-primary btn-large" href="http://goo.gl/NCnmg">お問い合わせフォーム</a></p>
</section>

