<section>
  <h2 class="page-header">HTML5 Conference 2012 FAQs</h2>

  <section style="margin-top: 2em">
    <h3>Q. 配信の予定はありますか？</h3>

    <p style="margin-top: 1em">はい。ホール、ルームA、ルームB、ルームCすべてのセッションにおいて、Ustreamによる配信を行う予定です。<br>また、確定はしておりませんが、他メディアからの配信も検討中です。
    <p>回線の問題など、諸事情により配信されないセッションが出てくる可能性もあります。ご了承ください。
  </section>

  <!--
  <section style="margin-top: 2em">
    <h3>Q. </h3>

    <p style="margin-top: 1em"> ...
    <p> ...
  </section>
  -->

</section>

<section class="well" style="margin-top: 3em">
  <h3>その他のお問い合わせ</h3>
  <p>ご不明な点がございましたら、下記のフォームからお問い合わせください。</p>
  <p><a class="btn btn-primary btn-large" href="http://goo.gl/NCnmg">お問い合わせフォーム</a></p>
</section>

