<section>
  <h2 class="page-header">HTML5 Conference 2012 開催のご案内</h2>

  <ul class="nav row" style="margin: 40px 0 60px">
    <li class="span4 offset4">
    {% if can_subscribe %}
    <a class="btn btn-large" href="reg_top.html">参加登録する</a>
    {% else %}
    <a class="btn btn-large" href="reg_top.html">キャンセル待ち登録する</a>
    {% endif %}
    </li>
  </ul>
  <div class="alert">
    <ul>
      <li>登録には、Googleアカウントが必要です</li>
      <li>登録済みの方は、上のボタンをクリックすると登録内容変更画面が表示されます</li>
    </ul>
  </div>

  <div class="alert alert-error">
    カンファレンスの募集開始は8/11(土)を予定しています。<br>なお、参加登録にあたり <a href="https://accounts.google.com/NewAccount?hl=ja">Google アカウント</a>が必要となります。アカウントをお持ちでない方は事前に作成ください。
  </div>

  <p>
    今年も、HTML5 Conferenceの季節がやってきました！！今年は、9月8日に開催します。
  </p>
  <p>
    2回目となる今年は、昨年よりも内容も規模もグレードアップ！！より多くの方に参加頂けるよう、昨年の倍以上の方が参加可能なカンファレンスを準備しています。セッション数も20を予定、初心者から上級者まで幅広いディベロッパー・デザイナーの方々に満足頂ける内容となるよう、スタッフ一同準備中です。
  </p>
  <p>
    今年のテーマは「Web技術者の祭典」。参加された方々が、HTML5関連の最新技術トレンドを学び、新たな交流を育み、そして秋祭りさながら盛り上がれるイベントを目指しています。これは、主催コミュニティ html5j.org の基本ポリシー「つながる、学べる、盛り上がる」に沿ったもの。30回以上の勉強会開催から得られた経験・実績・信頼を基に、このテーマを必ず成功させます。ご期待を！！
  </p>
  <p>
    <strong>本カンファレンスの参加受付開始は 8/11(土)を予定しています。プログラム内容など詳細は、都度アップデートいたしますので楽しみにお待ちください!!</strong>
    <div class="well">参加登録にあたり <strong><a href="https://accounts.google.com/NewAccount?hl=ja">Google アカウント</a>が必要</strong>となります。アカウントをお持ちでない方は事前に作成ください。
    </div>
  </p>
 <!--  <p>
    なお、カンファレンス開催にあたり、ご協力頂けるボランティアを募集しています！！ボランティアとして一緒にカンファレンスを成功させたい個人の方、下記のリンクを是非ご確認ください。
  </p> -->
  <p>
    カンファレンスではライトニングトーク大会を行います！発表したい方は是非ご応募ください。
    また、公式ブロガー・ライターの募集も行なっています。セッションに参加してレポート記事を書いてくださる方は是非ご応募ください。
  </p>

  <ul class="nav row" style="margin: 40px 0 60px">
<!--     <li class="span4 offset4"><a id="btn-volunteer" class="btn btn-large" href="./volunteer.html">ボランティア募集</a></li -->>
  <li> class="span4 offset4"><a id="btn-lt" class="btn btn-large" href="./lt.html">LT大会講演者募集</a></li>
  <li> class="span4 offset4"><a id="btn-writer" class="btn btn-large" href="./writer.html">公式ブロガー・ライター募集</a></li>
  </ul>
</section>

<section>
  <h2 class="page-header">カンファレンス概要</h2>

  <dl itemscope itemtype="http://schema.org/Event">
    <meta itemprop="name" content="HTML5 Conference 2012">
    <meta itemprop="startDate" content="2012-09-08T11:00+09">
    <meta itemprop="endDate" content="2012-09-08T19:30+09">
    <dt>開催日</dt><dd>9月8日（土）11:00 - 19:30 (受付開始 10:30)</dd>
    <dt>主催</dt><dd>html5j.org</dd>
    <dt>対象者</dt><dd>HTML5初心者〜上級のマークアップエンジニア、デザイナー、プログラマー</dd>
    <dt>募集人数</dt><dd>700名</dd>
    <dt>会場</dt><dd itemprop="location" itemscope itemtype="http://schema.org/Place"><span itemprop="name">慶應義塾大学 日吉キャンパス</span> <a itemprop="url" href="http://www.kcc.keio.ac.jp/access/index.html" target="_blank">協生館</a> (<a href="http://goo.gl/maps/aas5" target="_blank">神奈川県横浜市港北区日吉4-1-1</a>)</dd>
    <dt>参加費</dt><dd>無料</dd>
  </dl>
</section>

<div class=spacer></div>

<section>
  <h2 class="page-header">お知らせ</h2>
  <dl class="dl-horizontal">
    <dt>8月11日</dt>
    <dd>ボランティアの募集を締め切らせて頂きました。応募いただいた方には別途ご連絡差し上げますので、登録したメールをご確認ください。</dd>
    <dt>8月8日</dt>
    <dd>スポンサーの募集を締め切らさせて頂きました。応募いただいた企業の方には別途ご連絡差し上げます。</dd>
  </dl>
</section>
