<section>
  <div class="alert alert-info">
    HTML5 Conference 2012、9/8 大盛況のうちに無事終了することができました！<br>
    資金面で援助して下さった協賛企業の皆様、コンテンツを提供して下さった講演者の皆様、記事執筆の責務を負ってくださっている公式レポーターの皆様、そして、休日にもかかわらず足を運んで下さった参加者の皆様に、深く御礼申し上げたいと思います。本当にありがとうございました！！
  </div>
</section>

<section>
  <h2 class="page-header">お知らせ</h2>
  <dl class="dl-horizontal">
    <dt>9月17日</dt>
    <dd>プログラムページに「HTML5 Conference Quiz」のリンクを追加しました。</dd>
    <dt>9月8日</dt>
    <dd>「フロアマップ」を追加しました。</dd>
    <dt>9月5日</dt>
    <dd><a href="#streaming">イベントの配信情報</a>を追記しました。</dd>
    <dt>8月20日</dt>
    <dd><a href="http://html5j.blogspot.jp/">スタッフブログ</a>へのリンクをナビゲーションに追加しました。準備に関わる悲喜こもごも。是非チェックしてみてください！！</dd>
    <dt>8月17日</dt>
    <dd>ライトニングトーク大会参加者、及び公式ブロガー・ライターの募集を締切りました。多数のご応募、ありがとうございました。</dd>
    <dt>8月15日</dt>
    <dd>「会場アクセス」ページを追加しました。会場までの行き方はこちらを御覧ください。</dd>
    <dt>8月11日</dt>
    <dd>
    カンファレンスの参加募集を開始しました！<br>
    ボランティアの募集を締め切らせて頂きました。応募いただいた方には別途ご連絡差し上げますので、登録したメールをご確認ください。
    </dd>
  </dl>
</section>

<section>
  <h2 class="page-header">HTML5 Conference 2012 開催のご案内</h2>

  <!--
  {% if can_subscribe %}
  <ul class="nav row" style="margin: 40px 0 60px">
    <li class="span4 offset4"><a id="btn-volunteer" class="btn btn-large" href="https://ch5conf.appspot.com/conference/2012/09/reg_top.html">参加登録する</a></li>
  </ul>
  <div class="well">
    <ul style="margin-bottom: 0">
      <li>参加登録は先着順になります</li>
      <li>参加登録にはGoogleアカウントが必要です</li>
      <li>登録済みの方は、<a href="https://ch5conf.appspot.com/conference/2012/09/reg_program.html">登録内容の変更／参加のキャンセル</a>ができます</li>
      <li>当日はカメラなどの撮影に映る可能性があります。あらかじめご了承ください。</li>
    </ul>
  </div>
  {% else %}
  <div class="well">
    <ul style="margin-bottom: 0">
      <li>只今<strong>参加者が定員に達したため、新規登録を閉めさせて</strong>頂いています</li>
      <li>登録済みの方は、<a href="https://ch5conf.appspot.com/conference/2012/09/reg_program.html">登録内容の変更／参加のキャンセル</a>ができます</li>
    </ul>
  </div>
  {% endif %}
-->

  <p>
    この度は、私たち<a href="http://www.html5j.org">html5j.org</a>が主催する<strong>HTML5 Conference</strong>に関心を持っていただき、ありがとうございます。
  </p>
  <p>
    昨年はグーグル株式会社との共催で、<a href="/conference/2011/08/">Chrome+HTML5 Conference</a>を開催いたしました。昨年も200名を超える方々にご参加いただき、誠にありがとうございました。
  </p>
  <p>
    初のhtml5j.org主催となる今年は、昨年よりも内容も規模もグレードアップしました。募集人数はなんと<strong>1,000名</strong>、セッション数も20を予定しており、初心者から上級者まで幅広いディベロッパー・デザイナーの方々に満足頂ける内容となるよう、スタッフ一同準備中です。
  </p>
  <p>
    今年のテーマは「<strong>Web技術者の祭典</strong>」。参加された方々が、HTML5関連の最新技術トレンドを学び、新たな交流を育み、そして秋祭りさながら盛り上がれるイベントを目指しています。これは、私たちhtml5j.orgの合言葉である「<strong>つながる、学べる、盛り上がる</strong>」に沿ったもの。30回以上の勉強会開催から得られた経験・実績・信頼を基に、参加者の皆様にご満足いただけるよう全力を尽くします。どうかご期待ください。
  </p>
</section>

<section>
  <h2 class="page-header">カンファレンス概要</h2>
  <dl itemscope itemtype="http://schema.org/Event">
    <meta itemprop="name" content="HTML5 Conference 2012">
    <meta itemprop="startDate" content="2012-09-08T11:00+09">
    <meta itemprop="endDate" content="2012-09-08T19:30+09">
    <dt>開催日</dt><dd><time datetime="2012-09-08">2012年9月8日</time>（土）11:00 - 19:30 (受付開始 10:30)</dd>
    <dt>主催</dt><dd>html5j.org</dd>
    <dt>対象者</dt><dd>HTML5初心者〜上級のマークアップエンジニア、デザイナー、プログラマー</dd>
    <dt>募集人数</dt><dd>1,000名(先着順)</dd>
    <dt>会場</dt><dd itemprop="location" itemscope itemtype="http://schema.org/Place"><span itemprop="name">慶應義塾大学 日吉キャンパス</span> <a itemprop="url" href="http://www.kcc.keio.ac.jp/access/index.html" target="_blank">協生館</a> (<a href="http://goo.gl/maps/aas5" target="_blank">神奈川県横浜市港北区日吉4-1-1</a>)</dd>
    <dt>参加費</dt><dd>無料</dd>
  </dl>
</section>

<div class=spacer></div>
<section id="streaming">
  <h2 class="page-header">イベントの配信情報</h2>
  <p>
    今回のカンファレンスは以下のURLにてネット配信が行われます。
    当日会場に来られない方はこちらでご参加ください！
  </p>
  <section>
    <h3>Ustream</h3>
    <dl>
      <dt class="room-name">ホール</dt>
      <dd class="time"><time datetime="2012-09-08T11:00">2012/09/08(土) 11:00</time>～</dd>
      <dd class="url"><a target="_blank" href="http://www.ustream.tv/channel/html5j">http://www.ustream.tv/channel/html5j</a></dd>

      <dt class="room-name">ルームA</dt>
      <dd class="time"><time datetime="2012-09-08T11:45">2012/09/08(土) 11:45</time>～</dd>
      <dd class="url"><a target="_blank" href="http://www.ustream.tv/channel/html5ja">http://www.ustream.tv/channel/html5ja</a></dd>

      <dt class="room-name">ルームB</dt>
      <dd class="time"><time datetime="2012-09-08T11:45">2012/09/08(土) 11:45</time>～</dd>
      <dd class="url"><a target="_blank" href="http://www.ustream.tv/channel/html5jb">http://www.ustream.tv/channel/html5jb</a></dd>

      <dt class="room-name">ルームC</dt>
      <dd class="time"><time datetime="2012-09-08T11:45">2012/09/08(土) 11:45</time>～</dd>
      <dd class="url"><a target="_blank" href="http://www.ustream.tv/channel/html5jc">http://www.ustream.tv/channel/html5jc</a></dd>
    </dl>
  </section>

  <section>
    <h3>ニコニコ生放送</h3>
    <p>
      ※ホールのみ。午前の部と午後の部でURLが変わりますのでご注意ください。
    </p>
    <dl>
      <dt class="room-name">『HTML5 Conference 2012』午前の部-HTML5関連の最新トレンドを学べるWeb技術者の祭典-</dt>
      <dd class="time"><time datetime="2012-09-08">2012/09/08(土)</time> 開場:<time>10:50</time> 開演:<time>11:00</time></dd>
      <dd class="url"><a target="_blank" href="http://live.nicovideo.jp/gate/lv105877780">http://live.nicovideo.jp/gate/lv105877780</a></dd>

      <dt class="room-name">『HTML5 Conference 2012』午後の部-HTML5関連の最新トレンドを学べるWeb技術者の祭典-</dt>
      <dd class="time"><time datetime="2012-09-08">2012/09/08(土) </time>開場:<time>13:50</time> 開演:<time>14:00</time></dd>
      <dd class="url"><a target="_blank" href="http://live.nicovideo.jp/gate/lv106635433">http://live.nicovideo.jp/gate/lv106635433</a></dd>
    </dl>
  </section>
</section>


<section class="sponsors">
  <h2 class="page-header">スポンサー一覧</h2>
  <section class="platinum">
    <h3>プラチナスポンサー</h3>
    <ul class="sponsor-list">
    {% for sponsor in sponsors.platinum %}
    <li>
        <a style="display:block;width:100%;height:100%" target="_blank" href="{{sponsor.link}}">
        {%if sponsor.image %}
        <img class="sponsor-logo" src="/images/201209/sponsors/{{sponsor.image}}" title="{{sponsor.name}}" alt="{{sponsor.name}}">
        {% else %}
        {{sponsor.name}}
        {% endif %}
        </a>
      {% endfor %}
    </ul>
  </section>
  <section class="gold">
    <h3>ゴールドスポンサー</h3>
    <ul class="sponsor-list">
    {% for sponsor in sponsors.gold %}
    <li>
        <a style="display:block;width:100%;height:100%" target="_blank" href="{{sponsor.link}}">
        {%if sponsor.image %}
        <img class="sponsor-logo" src="/images/201209/sponsors/{{sponsor.image}}" title="{{sponsor.name}}" alt="{{sponsor.name}}">
        {% else %}
        {{sponsor.name}}
        {% endif %}
        </a>
      {% endfor %}
    </ul>
  </section>
  <section class="silver">
    <h3>シルバースポンサー</h3>
    <ul class="sponsor-list">
    {% for sponsor in sponsors.silver %}
    <li>
        <a style="display:block;width:100%;height:100%" target="_blank" href="{{sponsor.link}}">
        {%if sponsor.image %}
        <img class="sponsor-logo" src="/images/201209/sponsors/{{sponsor.image}}" title="{{sponsor.name}}" alt="{{sponsor.name}}">
        {% else %}
        {{sponsor.name}}
        {% endif %}
        </a>
      {% endfor %}
    </ul>
  </section>
  <section class="special">
    <h3>特別協賛</h3>
    <ul class="sponsor-list">
    {% for sponsor in sponsors.special %}
    <li>
        <a style="display:block;width:100%;height:100%" target="_blank" href="{{sponsor.link}}">
        {%if sponsor.image %}
        <img class="sponsor-logo" src="/images/201209/sponsors/{{sponsor.image}}" title="{{sponsor.name}}" alt="{{sponsor.name}}">
        {% else %}
        {{sponsor.name}}
        {% endif %}
        </a>
      {% endfor %}
    </ul>
  </section>
  <section class="media">
    <h3>メディアスポンサー</h3>
    <ul class="sponsor-list">
    {% for sponsor in sponsors.media %}
    <li>
        <a style="display:block;width:100%;height:100%" target="_blank" href="{{sponsor.link}}">
        {%if sponsor.image %}
        <img class="sponsor-logo" src="/images/201209/sponsors/{{sponsor.image}}" title="{{sponsor.name}}" alt="{{sponsor.name}}">
        {% else %}
        {{sponsor.name}}
        {% endif %}
        </a>
      {% endfor %}
    </ul>
  </section>
</section>
<script src="/javascripts/201209/index.js"></script>
