<style type="text/css">
  #map ul {
    margin-top: 1em;
  }
  #map section {
    margin-bottom: 2em;
  }
  #map p {
    margin-top: 1em;
  }
  #map img {
    max-width: 100%;
    border: solid 1px #ccc;
  }
  @media (max-width: 767px) {
    #map .grid {
      width: 100%;
      margin-bottom: 1em;
    }
    #map {
      word-break: break-all;
    }
  }
</style>
<section id="map">
  <h2 class="page-header">フロアマップ</h2>
  <section>
    <h3>協生館内</h3>
    <img src="/images/201209/map/map.png" alt="フロアマップ">
    <ul>
      <li>藤原洋記念ホール通路およびルームＡ,B,Cではお飲物だけお飲みいただけます。お食事はご遠慮ください。</li>
      <li>また、上記以外の場所でのご飲食は全面的に禁止となっております。ご了承ください。</li>
      <li>全館禁煙となっております。喫煙は協生館の外にある喫煙所をご利用ください。</li>
      <li>運営や誘導路の確保のため、通路など椅子がない場所で座るのはご遠慮ください。</li>
      <li>ネット配信やカメラ等での撮影を行っております。参加者の皆様のお顔が映る場合もありますので、ご了承ください。</li>
    </ul>  
  </section>
  <section class="map">
    <h3>食堂への行き方・喫煙所</h3>
    <p>昼食の際は受付にて配布いたしました、昼食券をぜひご利用下さい。昼食券は食堂「遊遊キッチン」「麺‘s 遊遊」でのみ使用可能となっております。500円分の食券としてご利用いただけますが、お釣りの返金はございません。500円を超える場合は、差額をお支払いください。※昼食券の払い戻し・返金等は一切行っておりません。</p>
    <img src="/images/201209/map/lunch.jpg" alt="食堂への行き方">
  </section>
</section>