

<section>
{% if user_tbl %}
  <h2 class="page-header">HTML5 Conference 2012 セッション参加希望登録ページ</h2>
  <div class="row">
    <div class="span9">{{ user_tbl.name}} 様</div>
    <div class="span3">
      {% if user_tbl %}<a href="cancel_done.html" class="btn btn-large btn-danger">参加をキャンセルする</a>{% endif %}
    </div>
  </div>
  <div class="alert">
    こちらで参加登録頂いた場合でも、当日の会場の席を確約するものではありません。 また、以下のプログラム内容は、当日までに変更になることがあります。あらかじめご了承ください。
  </div>
{% else %}
   <h2 class="page-header">HTML5 Conference 2012 プログラム</h2>
  <div class="alert alert">
    以下のプログラム内容は、当日までに変更になることがあります。あらかじめご了承ください。
  </div>
{% endif %}


<div class="hidden-phone">
  {% if user_tbl %} <form class="form-horizontal" method="post" action="reg_done.html"> {% endif %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="12%"></th>
        <th width="22%">藤原洋記念ホール<br>全般系</th>
        <th width="22%">多目的教室1<br>デザイン/tool系</th>
        <th width="22%">多目的教室2<br>開発者系</th>
        <th width="22%">多目的教室3<br>上級者系</th>
      </tr>
    </thead>
    <tbody>
  {% for slot in progdic %}
    <tr>
      {% if slot.sessions %}
      <td class="timeslot" {% if user_tbl %}rowspan="2"{% endif %}>
      {% else %}
      <td class="break">
      {% endif %}
        {{ slot.timeslot }}
      </td>
      {% if slot.sessions %}
        {% for session in slot.sessions %}
          <td class="session">
            <span class="session_title" title="{{session.title}}" data-content="{{session.description}}">{{ session.title }}</span>
            {% for id in session.speakers %}
              {% for speaker in speadic %}
                {% ifequal id speaker.id %}
                <div class="speaker">{{ speaker.name }} ({{speaker.company}})</div>
                {% endifequal %}
              {% endfor %}
            {%endfor%}

            {% for o in sess %}{% ifequal o.session_id session.session_id %}
              {% ifequal o.status "ok" %}<span class="label label-info">余裕</span>{% endifequal %}
              {% ifequal o.status "jam" %}<span class="label label-warning">混雑</span>{% endifequal %}
              {% ifequal o.status "full" %}<span class="label label-important">満席</span>{% endifequal %}
            {% endifequal %}{% endfor %}
          </td>
        {% endfor %}
        {% if slot.sessions|length_is:"1" %}
          <td class="empty" colspan="3"></td>
        {% endif %}
        </tr>
        <tr>

        {% if user_tbl %}
        {% for session in slot.sessions %}
        <td class="session_subscribe"><label for="session_{{session.session_id}}" class="radio"><div><input type="radio" name="slot_{{slot.slot_id}}" value="{{session.session_id}}" id="session_{{session.session_id}}" {% for id in registered %}{% ifequal id session.session_id %}checked{% endifequal %}{% endfor %}
              {% for o in sess %}{% ifequal o.session_id session.session_id %}
              {% ifequal o.status "full" %}data-disabled="true"{% endifequal %}
              {% endifequal %}{% endfor %}
              > 参加する</div></label></td>
        {% endfor %}
        {% if slot.sessions|length_is:"1" %}
          <td class="empty" colspan="3"></td>
        {% endif %}
        {% endif %}
        </tr>
      {% else %}
        <td class="break" colspan="4">{{ slot.title }}</td></tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  {% if user_tbl %}
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" type="submit">参加登録する</button>
      </div>
    </div>
    </form>
  {% endif %}
</div>
<div class="visible-phone">
  {% if user_tbl %} <form class="form-horizontal" method="post" action="reg_done.html"> {% endif %}
    <!--
    <thead>
      <tr>
        <th width="12%"></th>
        <th width="22%">藤原洋記念ホール<br>全般系</th>
        <th width="22%">多目的教室1<br>デザイン/tool系</th>
        <th width="22%">多目的教室2<br>開発者系</th>
        <th width="22%">多目的教室3<br>上級者系</th>
      </tr>
    </thead>
    <tbody>
    -->
  {% for slot in progdic %}
  <table class="table table-bordered table-phone">
    <thead><tr><th>
      {{ slot.timeslot }}
      {% if not slot.sessions %}休憩{% endif %}
    </th></tr></thead>
    <tbody>
    {% if slot.sessions %}
      {% for session in slot.sessions %}
        <tr><td>
          <p class="session-room"></p>
          <span class="session_title_phone" title="{{session.title}}">{{ session.title }}</span><br>
          <div class="session_description">
          {{ session.description }}
          </div>
          {% for id in session.speakers %}
            {% for speaker in speadic %}
              {% ifequal id speaker.id %}
              <div class="speaker">{{ speaker.name }} ({{speaker.company}})</div>
              {% endifequal %}
            {% endfor %}
          {%endfor%}
          {% for o in sess %}{% ifequal o.session_id session.session_id %}
            {% ifequal o.status "ok" %}<span class="label label-info">余裕</span>{% endifequal %}
            {% ifequal o.status "jam" %}<span class="label label-warning">混雑</span>{% endifequal %}
            {% ifequal o.status "full" %}<span class="label label-important">満席</span>{% endifequal %}
          {% endifequal %}{% endfor %}
        </td></tr>

        {% if user_tbl %}
        <tr><td class="session_subscribe">
            <label for="session_p{{session.session_id}}"><div><input type="radio" name="slot_p{{slot.slot_id}}" value="{{session.session_id}}" id="session_p{{session.session_id}}" {% for id in registered %}{% ifequal id session.session_id %}checked{% endifequal %}{% endfor %}
              {% for o in sess %}{% ifequal o.session_id session.session_id %}
              {% ifequal o.status "full" %}data-disabled="true"{% endifequal %}
              {% endifequal %}{% endfor %}
                > 参加する</div></label>
        </td></tr>
        {% endif %}
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
  {% endfor %}
  {% if user_tbl %}
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" type="submit">登録する</button>
      </div>
    </div>
    </form>
  {% endif %}
</div>

</section>

<script>
  (function(){
    var rooms_ = [
      "全般系（藤原洋記念ホール）",
      "デザイン系（多目的教室1）",
      "開発者系（多目的教室2）",
      "上級者系（多目的教室3）"
    ];
    $("table.table-phone").each(function(i){
      $(this).find("p.session-room").each(function(i){
        $(this).text(rooms_[i]);
      });
    });

    $(".session_title").popover({"placement":"bottom"});

    $(".session_subscribe input").each(function(i){
      if(!!$(this).attr("checked") === false && $(this).data().disabled) {
        $(this).attr("disabled", "disabled");
      }
    });
  }());
</script>

<!--
<section>
  <h2 class="page-header">タイトル</h2>

  <p>
    ...
  </p>
</section>
 -->
