<section>
  <h2 class="page-header">セッション選択</h2>
  <div class="alert alert-error">
  	本ページでセッションを選択頂いても、当日の会場の状況によっては聴講できない場合があります。あらかじめご了承ください。
  </div>
  <form method="post" action="reg_confirm.html">
  	<table class="table table-bordered table-striped table-condensed">
	  	<thead>
	  		<tr>
	  			<th></th>
	  			<th>
			  		全般系<br>藤原洋記念ホール
			  	</th>
			  	<th>
			  		デザイン系<br>多目的教室1
			  	</th>
			  	<th>
			  		モバイル／ライブラリ系<br>多目的教室2
			  	</th>
			  	<th>
			  		ギーク系<br>多目的教室3
			  	</th>
	  		</tr>
	  	</thead>
	  	<tbody>
	  		<tr>
	  			<td>
			  		11:00〜11:30
			  	</td>
			  	<td>
			  		基調講演<br>及川卓也（Google)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot0" value="0" />
			  	</td>
			  	<td>
				</td>
			  	<td></td>
			  	<td></td>
	  		</tr>
	  		<tr>
	  			<td>
			  		11:45〜12:30
			  	</td>
			  	<td>
			  		Responsible Web Design<br>???
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot1" value="0" />
			  	</td>
			  	<td>
			  		HTML5 マークアップ<br>羽田野太巳(Futomi)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot1" value="1" />
			  	</td>
			  	<td>
			  		モバイルゲームの開発手法<br>???(DeNA)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot1" value="2" />
			  	</td>
			  	<td>
			  		JS.next<br>@dynamitter(Mozilla)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot1" value="3" />
			  	</td>
	  		</tr>
	  		<tr>
	  			<td>
			  		14:00〜14:45
			  	</td>
			  	<td>
			  		Responsible Web Design<br>???
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot2" value="0" />
			  	</td>
			  	<td>
			  		HTML5 マークアップ<br>羽田野太巳(Futomi)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot2" value="1" />
			  	</td>
			  	<td>
			  		モバイルゲームの開発手法<br>???(DeNA)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot2" value="2" />
			  	</td>
			  	<td>
			  		JS.next<br>@dynamitter(Mozilla)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot2" value="3" />
			  	</td>
	  		</tr>
	  		<tr>
	  			<td>
			  		15:00〜15:45
			  	</td>
			  	<td>
			  		Responsible Web Design<br>???
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot3" value="0" />
			  	</td>
			  	<td>
			  		HTML5 マークアップ<br>羽田野太巳(Futomi)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot3" value="1" />
			  	</td>
			  	<td>
			  		モバイルゲームの開発手法<br>???(DeNA)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot3" value="2" />
			  	</td>
			  	<td>
			  		JS.next<br>@dynamitter(Mozilla)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot3" value="3" />
			  	</td>
	  		</tr>
	  		<tr>
	  			<td>
			  		16:00〜16:45
			  	</td>
			  	<td>
			  		Responsible Web Design<br>???
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot4" value="0" />
			  	</td>
			  	<td>
			  		HTML5 マークアップ<br>羽田野太巳(Futomi)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot4" value="1" />
			  	</td>
			  	<td>
			  		モバイルゲームの開発手法<br>???(DeNA)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot4" value="2" />
			  	</td>
			  	<td>
			  		JS.next<br>@dynamitter(Mozilla)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot4" value="3" />
			  	</td>
	  		</tr>
	  		<tr>
	  			<td>
			  		17:00〜17:45
			  	</td>
			  	<td>
			  		Responsible Web Design<br>???
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot5" value="0" />
			  	</td>
			  	<td>
			  		HTML5 マークアップ<br>羽田野太巳(Futomi)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot5" value="1" />
			  	</td>
			  	<td>
			  		モバイルゲームの開発手法<br>???(DeNA)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot5" value="2" />
			  	</td>
			  	<td>
			  		JS.next<br>@dynamitter(Mozilla)
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot5" value="3" />
			  	</td>
	  		</tr>

	  		<tr>
	  			<td>
			  		18:00〜19:30
			  	</td>
			  	<td>
			  		Lightning Talk<br>司会（キグルミ＆コスプレ）
			  		<br><br>
			  		参加希望&nbsp;<input type="radio" name="slot6" value="0" />
			  	</td>
			  	<td>
			  	</td>
			  	<td>
			  	</td>
			  	<td>
			  	</td>
	  		</tr>
	  	</tbody>
  	</table>
  		<button type="submit" class="btn btn-primary">登録内容確認</button>
  </form>

</section>
