<section>
{% if not can_subscribe %}
  <p>
  申し訳ありません。募集定員に達したため、只今参加申し込みできません。<br>
  <a href="/conference/2012/09/">Topページに戻る</a>
  </p>
  {% else %}
  <h2 class="page-header">基本情報入力</h2>

  <form class="form-horizontal" method="post" action="reg_program.html">
    <!--
    <fieldset>
      <legend></legend>
    </fieldset>
    -->
    <h3>プロフィール情報</h3>
    {% if not alert|length_is:"0" %}
    <div class="alert alert-error">
      <ul>
      {% for mesg in alert %}
      <li>{{mesg}}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    <p>
      &nbsp;&nbsp;<span class="required">*</span> : 必須入力項目
    </p>
    <div class="control-group">
      <label class="control-label" for="label_">e-mail</label>
      <div class="controls">
        <input type="email" name="email" value="{{email}}" id="label_" readonly>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="name_">お名前（必須）<span class="required">*</span></label>
      <div class="controls">
        <input type="text" name="name" id="name_" value="{% if params.name %}{{params.name}}{% endif %}">
        <p class="help-block">例）山田　太郎</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="confirm_">以下のプライバシー<br>ポリシーを<br>ご一読ください。<br>（必須）<span class="required">*</span></label>
      <div class="controls">
        <p class="well">
          本イベントは html5j.org によって開催されます。入力された個人情報は、本イベントの運営のみに利用し、他の目的で利用することはありません。
        </p>
        <label class="checkbox">
          <input type="checkbox" name="confirm" id="confirm_" value="yes" {% ifequal params.confirm "yes" %}checked{% endifequal %} >
          同意する
        </label>
      </div>
    </div>
    <h3>アンケート情報</h3>
    <p>
      &nbsp;&nbsp;以下のアンケートにご協力ください
    </p>
    <div class="control-group">
      <label class="control-label" for="gender">性別</label>
      <div class="controls">
        <label class="radio inline" for="gender_male"><input type="radio" name="gender" id="gender_male" value="male" {% ifequal params.gender "male" %}checked{% endifequal %}> 男性</label>
        <label class="radio inline" for="gender_female"><input type="radio" name="gender" id="gender_female" value="female" {% ifequal params.gender "female" %}checked{% endifequal %}> 女性</label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="generation_">年代</label>
      <div class="controls">
        <label class="radio" for="generation_kids"><input type="radio" name="generation" id="generation_kids" value="kids" {% ifequal params.generation "kids" %}checked{% endifequal %}>9歳以下</label>
        <label class="radio" for="generation_teen"><input type="radio" name="generation" id="generation_teen" value="teen" {% ifequal params.generation "teen" %}checked{% endifequal %}>10〜19歳</label>
        <label class="radio" for="generation_twentieth"><input type="radio" name="generation" id="generation_twentieth" value="twentieth" {% ifequal params.generation "twentieth" %}checked{% endifequal %}>20〜29歳</label>
        <label class="radio" for="generation_thirtieth"><input type="radio" name="generation" id="generation_thirtieth" value="thirtieth" {% ifequal params.generation "thirtieth" %}checked{% endifequal %}>30〜39歳</label>
        <label class="radio" for="generation_fourtieth"><input type="radio" name="generation" id="generation_fourtieth" value="fourtieth" {% ifequal params.generation "fourtieth" %}checked{% endifequal %}>40〜49歳</label>
        <label class="radio" for="generation_fiftieth"><input type="radio" name="generation" id="generation_fiftieth" value="fiftieth" {% ifequal params.generation "fiftieth" %}checked{% endifequal %}>50〜59歳</label>
        <label class="radio" for="generation_silver"><input type="radio" name="generation" id="generation_silver" value="silver" {% ifequal params.generation "silver" %}checked{% endifequal %}>60歳以上</label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="occupation_">職種</label>
      <div class="controls">
        <label class="radio" for="occupation_frontend"><input type="radio" name="occupation" id="occupation_frontend" value="frontend" {% ifequal params.occupation "frontend" %}checked{% endifequal %}>フロントエンドプログラマー</label>
        <label class="radio" for="occupation_serverside"><input type="radio" name="occupation" id="occupation_serverside" value="serverside" {% ifequal params.occupation "serverside" %}checked{% endifequal %}>サーバーサイドプログラマー</label>
        <label class="radio" for="occupation_designer"><input type="radio" name="occupation" id="occupation_designer" value="designer" {% ifequal params.occupation "designer" %}checked{% endifequal %}>デザイナー</label>
        <label class="radio" for="occupation_coder"><input type="radio" name="occupation" id="occupation_coder" value="coder" {% ifequal params.occupation "coder" %}checked{% endifequal %}>コーダー</label>
        <label class="radio" for="occupation_director"><input type="radio" name="occupation" id="occupation_director" value="director" {% ifequal params.occupation "director" %}checked{% endifequal %}>Webディレクター</label>
        <label class="radio" for="occupation_other"><input type="radio" name="occupation" id="occupation_other" value="other" {% ifequal params.occupation "other" %}checked{% endifequal %}>その他</label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="how_">このカンファレンスを最初に何で<br>しりましたか？</label>
      <div class="controls">
        <label class="radio" for="how_web">
          <input type="radio" name="how" id="how_web" value="web" {% ifequal params.how "web" %}checked{% endifequal %}>
          Web記事（ニュースサイト、ブログなど）
        </label>
        <label class="radio" for="how_twitter">
          <input type="radio" name="how" id="how_twitter" value="twitter" {% ifequal params.how "twitter" %}checked{% endifequal %}>
          twitter
        </label>
        <label class="radio" for="how_facebook">
          <input type="radio" name="how" id="how_facebook" value="facebook" {% ifequal params.how "facebook" %}checked{% endifequal %}>
          facebook
        </label>
        <label class="radio" for="how_other_social">
          <input type="radio" name="how" id="how_other_social" value="other_social" {% ifequal params.how "other_social" %}checked{% endifequal %}>
          その他のソーシャルメディア
        </label>
        <label class="radio" for="how_ml_html5j">
          <input type="radio" name="how" id="how_ml_html5j" value="ml_html5j" {% ifequal params.how "ml_html5j" %}checked{% endifequal %}>
          メーリングリスト（html5j.org）
        </label>
        <label class="radio" for="how_friends">
          <input type="radio" name="how" id="how_friends" value="friends" {% ifequal params.how "friends" %}checked{% endifequal %}>
          知人からの紹介
        </label>
        <label class="radio" for="how_other">
          <input type="radio" name="how" id="how_other" value="other" {% ifequal params.how "other" %}checked{% endifequal %}>
          その他
        </label>
      </div>
    </div>


    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" type="submit">登録する</button>
      </div>
    </div>
  </form>
  {% endif %}
</section>
