html,
body {
  height: 100%;
}

@media screen and (max-width: 768px) {
  html,
  body {
    height: auto;
  }
}

html {
  font-family: "Barlow","Noto Sans JP", sans-serif;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-image: url(../img/category-icons.png),
                    url(../img/scene-images.png),
                    url(../img/bg-pattern.svg);
  background-repeat: repeat,
                     no-repeat,
                     repeat;
  background-size: 102% auto,
                   102% auto,
                   3rem;
  background-position: center center,
                       center center,
                       left top;
  color: #0b1038;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  body {
    background-size: 150% auto,
                     125% auto,
                     3rem;
  }
}

main {
  display: block;
}

h1 {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  line-height: 1.25;
}

@media screen and (max-width: 768px) {
  .main {
    height: auto;
    padding: 2rem 1rem;
  }
}

.main__image {
  width: auto;
  height: 15rem;
}

.main__title {
  font-weight: 600;
  font-size: 3rem;
}

.main__date {
  display: block;
  margin: .25rem 0;
  font-weight: 600;
  font-size: 1.5rem;
}

.main__cta {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.main__cta__button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 .5rem;
  padding: .5rem 1rem;
  border-radius: 10rem;
  background-color: #0b1038;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.main__cta__button--wired {
  background-color: #fff;
  color: #0b1038;
  border: 1px solid #0b1038;
}

@media screen and (max-width: 768px) {
  .main__cta {
    flex-direction: column;
    margin: .5rem 0;
  }

  .main__cta__button {
    margin: .5rem 0;
  }
}

@media screen and (max-width: 768px) {
  .main__title {
    font-size: 1.5rem;
  }

  .main__date {
    font-size: 1rem;
  }

  .main__image {
    height: 10rem;
  }
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255,255,255, .7);
}

@media screen and (max-width: 768px) {
  .footer {
    position: static;
    flex-direction: column;
    padding: .5rem 1rem;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social li {
  margin: 0 .5rem;
  height: 20px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .footer__social {
    margin-bottom: .5rem;
  }
}

.footer__copyright {
  margin: 0;
}

.footer__copyright__symbol {
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

.footer__copyright__image {
  height: 1.5rem;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    text-align: center;
  }
}
