<!DOCTYPE html>
<!--[if lte IE 8]><html lang="ja" id="ja" class="oldie" xmlns:og="http://ogp.me/ns#" itemscope itemtype="http://schema.org/Event"><![endif]-->
<!--[if gt IE 8]><!--><html lang="ja" id="ja" xmlns:og="http://ogp.me/ns#" itemscope itemtype="http://schema.org/Event"><!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="2012年9月8日 (土)、慶應義塾大学日吉キャンパスにて、4トラック合計20以上のセッションで開催予定。">

<!-- open graph (for facebook) -->
<meta property="og:title" content="HTML5 Conference 2012">
<meta property="og:type" content="article">
<meta property="og:url" content="http://events.html5j.org/conference/2012/09/">
<meta property="og:url" content="http://events.html5j.org/images/html5jlogo_200x200.png">
<meta property="og:site_name" content="html5j.org">
<meta property="og:description" content="2012年9月8日 (土)、慶應義塾大学日吉キャンパスにて、4トラック合計20以上のセッションで開催予定。">

<!-- schema.org (for g+) -->
<meta itemprop="name" content="HTML5 Conference 2012">
<meta itemprop="description" content="2012年9月8日 (土)、慶應義塾大学日吉キャンパスにて、4トラック合計20以上のセッションで開催予定。">
<meta itemprop="image" content="http://events.html5j.org/images/html5jlogo_200x200.png">

<link rel="shortcut icon" href="/images/favicon.ico">
<title>HTML5 Conference 2012</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="/css/conf2012.css">
<script src="/javascripts/jquery-1.7.2.min.js"></script>
<script src="/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="/bootstrap/js/bootstrap-popover.js"></script>
</head>
<body>

<!-- BEGIN: Javascripts for social buttons -->

<!-- ぐぐたす -->
<script type="text/javascript">
  window.___gcfg = {lang: 'ja'};

(function() {
 var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
 po.src = 'https://apis.google.com/js/plusone.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>


  <!-- はてぶ -->
  <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

  <!-- Twitter -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <!-- Facebook -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- END: Javascripts for social buttons -->

<header>
<div class="container">
  <hgroup class="row">
    <h1 id="logo" class="span8 hidden-phone"><a href="/conference/2012/09/" title="HTML5 Conference 2012 ホーム"><img src="/images/conference2012_logo.png" alt="html5j.org"></a></h1>
    <h1 id="logo" class="span8 visible-phone"><a href="/conference/2012/09/" title="HTML5 Conference 2012 ホーム"><img src="/images/conference2012_logo320.png" alt="html5j.org"></a></h1>
    <div class="span4 hidden-phone">
      <h2 id="subtitle" class="">html5j.org 主催<br>HTML5 Conference 2012
    </h2>
    <!-- webintents (experimental) -->
    <div id="webintents"></div>
    </div>

  </hgroup>
  <nav id="nav">
    <ul class="nav nav-pills">
      <li class="{% ifequal page 'index'   %}active{% endifequal %}"><a href="index.html">ホーム</a>
      <li class="{% ifequal page 'program' %}active{% endifequal %}"><a href="program.html">プログラム</a>
      <li class="{% ifequal page 'speaker' %}active{% endifequal %}"><a href="speaker.html">スピーカー</a>
      <li class="{% ifequal page 'access'  %}active{% endifequal %}"><a href="access.html">会場アクセス</a>
      <li class="external-link"><a href="http://html5j.blogspot.jp/" target="_blank">スタッフブログ</a>
      <li class="{% ifequal page 'faq'     %}active{% endifequal %}"><a href="faq.html">FAQ</a>
    </ul>
  </nav>
</div>
</header>


<div id="main">
<div class="container">

<!-- BEGIN: Social Buttons -->
<div id="social" class="clearfix">
  <ul id="socialButtons" class="clearfix">
    <!-- ぐぐたす -->
    <li class="google">
      <div class="g-plusone" data-href="http://events.html5j.org/conference/2012/09/" data-width="120"></div>
    </li>
    <!-- Facebook -->
    <li class="facebook">
      <div class="fb-like" data-href="http://events.html5j.org/conference/2012/09/" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"></div>
    </li>
    <!-- Twitter -->
    <li class="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://events.html5j.org/conference/2012/09/" data-text="HTML5 Conference 2012" data-via="html5j" data-lang="ja" data-hashtags="html5j">ツイート</a>
    </li>
    <!-- はてぶ -->
    <li class="hatena">
      <a href="http://b.hatena.ne.jp/entry/http://events.html5j.org/conference/2012/09/" class="hatena-bookmark-button" data-hatena-bookmark-title="HTML5 Conference 2012" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
    </li>
  </ul>

</div>
<div class="spacer"></div>
<!-- END: Social Buttons -->

  {% block content %}{% endblock %}
</div>
</div>

<script>
if(location.hash === "#_test") {
  $("._test").show();
}

var changeLogoWidth = function(self) {
  var id_ = $(self).attr("id");
  var w = $(self).val();
  $("."+id_.slice(2)+" img").css({"width": w+"px"});
}

$("input.sponsor").each(function(e){
  changeLogoWidth(this)
}).change(function(){
  changeLogoWidth(this);
});

</script>


<footer>
<div class="container">
  <hr>
  <p id="credit" style="text-align:center;">&copy; 2012 <a href="http://html5j.org/">html5j.org</a>.</p>
</div>
</footer>

<script type="text/javascript">
  /* for google analytics */

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4956033-6']);
  _gaq.push(['_trackPageview']);

  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();

</script>


<script>
  /* for webintents */
(function(){
 if(window.WebKitIntent || window.Intent) {
  window.Intent = window.Intent || window.WebKitIntent;
  window.navigator.startActivity = window.navigator.startActivity || window.navigator.webkitStartActivity;
  window.intent = window.intent || window.webkitIntent;

  var intent = new Intent("http://webintents.org/share", "text/uri-list", "http://events.html5j.org/conference/2012/09/");
  $("#webintents").append("<a class='btn btn-info'>WebIntentsでシェア</a>")
    .bind("click", function(e){
      window.navigator.startActivity(intent, null, null);
    });
 }
}());
</script>

<script>
(function(){
  $(window).bind("load", function(){
    setTimeout(function(){
      window.scrollTo(0,1);
    }, 500);
  });
}());
</script>

</body>
</html>
