<!doctype html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<script src="/javascripts/jquery-1.7.2.min.js"></script>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<style>
		textarea {
			width: 100%;
			height: 320px;
		}
	</style>
</head>
<body>
<div class="container">
	<header>
		<h1>{{title}}</h1>
	</header>
	<div id="contents">
		<section class="generic">
			<h2>一般参加者用</h2>
			<div class="row">
				<div class="span6 mail-body">
					<h3>送信メール本文</h3>
					<textarea>{{generic_body}}</textarea>
					<button>更新</button>
				</div>
				<div class="span6 destinations">
					<h3>メール送信先</h3>
					<button>DBより読み込む</button>
					<textarea>
					</textarea>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="span12 send-mail">
					<lable>
						最初の一人だけテスト送信する<input type="checkbox" checked>
					</label>
					<button>メールを送信する</button>
				</div>
			</div>
		</section>
		<hr>
		<section class="vip">
			<h2>VIP用</h2>
			<div class="row">
				<div class="span6 mail-body">
					<h3>送信メール本文</h3>
					<textarea>{{vip_body}}</textarea>
					<button>更新</button>
				</div>
				<div class="span6 destinations">
					<h3>メール送信先</h3>
					<textarea>
					</textarea>
					<button>localStorageに登録</button>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="span12 send-mail">
					<lable>
						最初の一人だけテスト送信する<input type="checkbox" checked>
					</label>
					<button>メールを送信する</button>
				</div>
			</div>
		</section>
	</div>
</div>

<script>
// vip メール送信先をlocalStorageから挿入する
$(".vip .destinations textarea").val(localStorage['vip-destinations']);

// 一般参加者向けメールの文面を保存する
$(".generic .mail-body button").click(function(e){
	var body = $(".generic .mail-body textarea").val();
	$.post("mail_body", {"target": "generic", "body":body}, function(data){
			console.log(data);
	})
});

// vip 参加者向けメールの文面を保存する
$(".vip .mail-body button").click(function(e){
	var body = $(".vip .mail-body textarea").val();
	$.post("mail_body", {"target": "vip", "body":body}, function(data){
			console.log(data);
	})
})

// (一般参加者向け) メールアドレスおよび名前をDBから取得する
$(".generic .destinations button").click(function(){
	$.getJSON("subscriber", function(datas){
		var out = $(".generic .destinations textarea");
		var str = "";
		console.log(datas)
		for( var i = 0, l = datas.length; i < l; i++ ) {
			var data = datas[i];
			console.log(datas);
			str += data.name + "," + data.email+"\n";
		}
		out.val(str)
	})
})

// (vip向け) メールアドレス及び名前をlocalStorageに保存する
$(".vip .destinations button").click(function(){
	var destinations = $(".vip .destinations textarea").val();
	console.log(destinations);
	localStorage['vip-destinations'] = destinations;
})

// 一般参加者向けメールを送信する
$(".generic .send-mail button").click(function(){
	var destinations = $(".generic .destinations textarea").val().split("\n");
	var test = $(".generic .send-mail input[type=checkbox]")[0].checked;

	console.log("===========================");
	console.log("一般参加者向けメール送信");
	console.log("===========================");


	var send_ = function(i){
		console.log(i + " / " + destinations.length);
		if (i >= destinations.length) return;

		var dest = destinations[i].split(",")
		, name = dest[0], email = dest[1]

		if ((!!name && !!email) === false) return;

		$.post("reminder.html", {target: "generic", name: name, email: email}, function(data){
			console.dir(JSON.parse(data))

			setTimeout(function(){
				if(!!test === false)
					send_(i+1);
			}, 3000);

		});
	}
	send_(0)
})

// vip向けメールを送信する
$(".vip .send-mail button").click(function(){
	var destinations = $(".vip .destinations textarea").val().split("\n");
	var test = $(".vip .send-mail input[type=checkbox]")[0].checked;


	console.log("===========================");
	console.log("vip向けメール送信");
	console.log("===========================");


	var send_ = function(i){
		console.log(i + " / " + destinations.length);
		if (i >= destinations.length) return;

		var dest = destinations[i].split(",")
		, name = dest[0], email = dest[1]

		if ((!!name && !!email) === false) return;

		$.post("reminder.html", {target: "vip", name: name, email: email}, function(data){
			console.dir(JSON.parse(data))
			setTimeout(function(){
				if(!!test === false)
					send_(i+1);
			},3000 );
		});
	}
	send_(0)
})

</script>

</body>
</html>